.comNodesFilter {
  display: flex;
  flex-direction: column;
}

.boxNodeItem {
  width: 23%;
  min-width: 170px;
  position: relative;
  margin: 8px 0 32px;
  box-shadow: 0 0 4px 0 rgba(84, 84, 84, 0.45);
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFFFFF;
}
