.comNodeModuleInputDir {
  width: 100%;
  position: relative;
}

.boxInput {
  border-bottom: 1px solid #d8d8d8;
  padding: 0 1.4rem 0.4rem;
}

.boxInput input {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
}

.boxInputFocus {
  border-bottom: 1px solid #444444;
}

.boxList {
  width: 100%;
  min-height: 4rem;
  max-height: 23rem;
  position: absolute;
  box-sizing: border-box;
  padding: 0.4rem 1.7rem;
  background-color: #FFFFFF;
  list-style: none;
  overflow: auto;
}

.boxListReversed {
  bottom: 105%;
  left: -2%;
  box-shadow: -1px -2px 3px 1px #d8d8d8;
  border-radius: 0.42rem 0.42rem 0 0;
}

.boxListRelative {
  position: relative;
}

.boxList li {
  margin: 0.8rem -1.7rem;
  padding: 0 1.7rem;
  cursor: pointer;
}

.boxLiFilled {
  background-color: rgba(0,0,0,0.09);
}
