.comContentEditor {

}

.boxImgFrame {
  width: 70%;
  height: 95%;
  position: absolute;
  top: 5%;
  left: 2%;
  box-sizing: border-box;
}

.boxSubmitDelete {
  width: 5%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.boxEditingBack {
  background-color: rgba(247,247,245,0.76);
}

.boxButtonComplete {
  width: 10rem;
  height: 7%;
  position: absolute;
  top: 75%;
  left: 75%;
  box-sizing: border-box;
}

.boxSubmitInvalid {
  border-color: #e6e6e6;
  color: #e6e6e6;
  cursor: auto;
  opacity: 0.6;
}

.roundRecBox {
  border-radius: 2.4vh;
  background-color: #e6e6e6;
  cursor: pointer;
}
