.comRelatedList {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.boxNail {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgb(230, 230, 230);
  background-color: #FFFFFF;
  cursor: pointer;
}

/* beneath must after the main 'boxNail'*/

.boxRegular {
  width: 20vw;
  height: 30vw;
}

.boxFillHoriz {
  width: 99%;
  height: 10vw;
}
