.comCornersRecom {

}

.comCornersItem {
  
}

.boxDepend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxNode {
  display: inline-block;
}

.boxCount {

}

.spanNode {
  display: inline-block;
  position: relative;
}

.spanType {
  margin: 0 0.4rem;
}

.fontCount {
  font-size: 1.76rem;
  letter-spacing: 0.04rem;
  color: rgb(64, 133, 160);
}
