.comNavWalls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  height: 100%;
}

.roundRecBox {
  border-radius: 1.6vh;
  cursor: pointer;
}

.boxButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 4%;
}

.spanButton {
  display: inline-block;
}

.fontButton {
  font-size: 1.37rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}
