.comAtNode {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxTitle {
  margin: 8px 0;
}

.boxTopTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 7.61vh 0 5.07vh;
}

.boxFeedNav {
  width: 100%;
  margin: 20px 0 -4px;
  position: relative;
}

.boxNodeTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (max-width:860px) {

}
