.comAroundWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.boxRow {
  position: relative;
  margin-bottom: 2rem;
}

.boxRowTop {
  margin-top: 1.6rem;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 2.4rem;
  margin-bottom: 12rem;
}

.spanFooterHint {
  margin: 8px 0;
}
