.comAroundWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 92vh; /* from height of NavOptions on small screen */
  position: relative;
  box-sizing: border-box;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxRowTop { /* should after .boxRow */
  padding-top: 4px;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.spanFooterHint {
  margin: 8px 0;
}

.boxNavFeed {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #FDFDFC;
}

.boxMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82%;
  position: sticky;
  z-index: 0;
}

.boxNavContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FDFDFC;
  z-index: 1;
}

.boxTodayNodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 94%;
  min-height: 75vh;
}

.boxIndexTitle {
  margin-bottom: 5rem;
  text-align: center;
}

.boxIndexShare {
  width: 100%;
  max-width: 335px;
}

@media screen and (min-width: 860px) {
  .comAroundWrapper {
    padding: 24vh 0 0;
  }

  .boxNavFeed {
    padding: 8vh 0 16px;
  }

  .boxFooter {
    margin-bottom: 18vh;
  }
}

@media screen and (max-width:860px) {
  .comAroundWrapper {
    padding: 18vh 0 0;
  }

  .boxFooter {
    width: 100%;
    margin-bottom: 24vh;
  }

  .boxNavFeed {
    padding: 5vh 0 16px;
  }

}
