.comAroundWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.boxRow {
  width: 100%;
  position: relative;
  margin: 3.5vw 0 0;
  padding-bottom: 3.5vw;
}

.boxRowTop {
  width: 100%;
  position: relative;
  margin: 2.5vw 0 3.5vw;
}
