.comSteps {

}

.boxNodesFilter {
  box-shadow: 5px 0 4px -5px rgba(0, 0, 0, 0.3), -5px 0 4px -5px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.rowTitleMargin {
  margin: 8px 0 0;
}

.rowTitlePadding {
  padding-bottom: 2.538vh;
  border-bottom: 1px solid #d8d8d8;
}

.boxFooter {
  position: relative;
  padding-top: 2rem;
  margin-bottom: 36vh;
}

@media screen and (max-width:860px) {
  .boxFooter {
    margin-bottom: 14vh;
  }
}
