.boxMarkBlock {
  width: 46.87%;
  height: 83.33%;
  min-width: 300px;
  position: absolute;
  top: 8.33%;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 #c0d3f0;
  background-color: rgba(255, 255, 255, 0.93);
}

.boxBlockDraft {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 5% 5%;
  margin-top: 13.33%;
  overflow-y: auto;
}

.boxBlockInteract {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 3% 5% 5%;
}

.boxBlockBack {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.boxDraftEditor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.boxBlockSubmit {
  display: inline-block;
  width: 77px;
  height: 32px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width:860px) {
  .boxBlockDraft {
    margin-top: 30px;
  }

  .boxBlockInteract {
    padding-top: 1rem;
  }
}
