.frame {
  display: block; /* due to it was at the tag <a> now */
  width: 474px;
  min-width: 32.9vw;
  max-width: 99vw;
  position: relative;
  box-sizing: border-box;
  padding: 4.2%;
}

.frameOnMouse {

}

.boxContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 289px;
  min-height: 36.8vh;
  position: relative;
}

.boxImg {
  width: 100%;
  height: 84%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.boxPreview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 61.93%;
}

.boxTitle {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.boxNodes {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.boxAuthor {
  max-width: 100%;
}
