.frame {
  display: block; /* due to it was at the tag <a> now */
  width: 474px;
  min-width: 32.9vw;
  max-width: 99vw;
  box-sizing: border-box;
  padding: 4.2%;
}

.frameOnMouse {

}

.boxContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 289px;
  min-height: 36.8vh;
}

.boxImg {
  width: 100%;
  height: 84%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.boxPreview {
  width: 100%;
}

.boxTitle {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.boxNodes {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.boxAuthor {
  max-width: 20%;
  position: absolute;
  box-sizing: border-box;
  right: 12.5%;
  top: 50%;
  transform: translate(50%, -50%);
}

.spanAuthor {
  display: inline-block;
  position: relative;
  right: 0;
  bottom: 0;
}

.fontAuthor {
  color: #6e6e6e;
}

.boxMarkPreview {
  width: 75%;
  height: 50%;
  position: absolute;
  box-sizing: border-box;
  left: 0%;
  bottom: 25%;
  padding: 0% 6.25%;
  overflow: hidden;
}

.boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1.5rem; /* follow the line height of mark*/
}

.fontMark {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
  color: #000000;
}
