.comTitleShareds {
  display: flex;
  flex-direction: column;
}

.boxUpperRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 8px;
}

.boxBottomRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  align-items: baseline;
}

.rowTitleText {
  display: flex;
  align-items: baseline;
}

.boxNavLink {
  border-radius: 4px;
  cursor: default;
}

.boxNavLinkMouse {
  padding: 5px 0;
  background-color: rgb(216,216,216,0.15);
  cursor: pointer;
}

.linkNavFeed {
  flex: 1;
  padding: 16px 0;
  text-align: center;
}

.linkNavFeedCrrentTab {
  border-bottom: 2px solid #ff8168
}

@media screen and (max-width:860px) {

}
