.comTitleShareds {
  display: flex;
  flex-direction: column;
}

.boxUpperRow {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin-bottom: 2rem;
}

.boxBottomRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.rowTitleText {
  display: flex;
  align-items: baseline;
}

.boxLinkExpand {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 5px;
}

.boxNavLink {
  border-radius: 4px;
  cursor: default;
}

.boxNavLinkMouse {
  padding: 5px 0;
  background-color: rgb(216,216,216,0.15);
  cursor: pointer;
}

.boxFilterNav {
  width: 100%;
  margin: 12px 0 0;
  text-align: center;
}

.spanBaseNode {
  display: inline-block;
  border-bottom: solid 0.75px transparent;
}

.spanBaseNodeMouse {
  border-bottom: solid 0.75px #545454;
}

.smallDisplayInline {
  display: none;
}

@media screen and (max-width:860px) {
  .smallDisplayInline {
    display: inline-block;
  }

  .smallDisplayNone {
    display: none;
  }
}
