.boxInteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 8.1rem;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

.boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 5.7vh 0 0 0;
  text-align: right;
}

.boxContentDraft {
  min-height: 37vh;
  box-sizing: border-box;
  padding: 0 10% 0 10%;
}

.fontContentDraft {
  font-size: 1.64rem;
  letter-spacing: 0.04rem;
  line-height: 1.87rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  color: #000000;
}
