.comMainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.boxRow {
  width: 100%;
  position: relative;
  margin: 3.5vw 0 0;
  padding-bottom: 3.5vw;
}

.boxRowTop {
  width: 80vw; /*the only row not follow the heigher comp*/
  min-height: 247px;
  position: relative;
  left: -2.5vw;
  margin: 0 0 2.5vw;
}

.boxBeneathMatchSet {
  width:100%;
  margin: 3rem 0 5.5vw;
}

.boxMatchSet{
  width: 100%;
  height: 16rem;
  box-sizing: border-box;
  padding: 2% 0 1%;
  margin: 1vw 0 7rem;
  box-shadow: 4px 0 4px -5px inset, -4px 0 4px -5px inset;
}

.boxList {
  width: 100%;
  margin: 5vw 0 0;
  padding-top: 3.5vw;
  position: relative;
  box-sizing: border-box;
}

.boxNail {
  background-color: #FFFFFF;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}

.boxWide {
  width: 42.5vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxNarrow {
  width: 20vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxEven {
  width: 32.5vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxMidium {
  width: 25vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxThree {
  width: 37.5vw;
  box-shadow: 1px 2px 1px rgb(230, 230, 230);
}

.heightNine {
  height: 30vw;
}

.heightThird {
  height: 21vw;
}

.boxTopLine {
  width: 88%;
  position: absolute;
  top: 0;
}

.boxUnderLine {
  width: 43%;
  position: absolute;
  bottom: 0;
}

.boxCenterUnderLine {
  left: 50%;
  transform: translate(-50%, 0);
}

.boxCenterStrokeRow {
  width: 10%;
  margin-left: 50%;
  transform: translate(-50%,0);
}

.boxFillHoriz {
  width: 99%;
  height: 7.5vw;
}

.boxFillHorizClose {
  width: 99%;
  height: 5vw;
}

.boxFillCenterLine {
  width: 61%;
  height: 12.5vw;
  position: relative;
  margin-left: 33%;
}

.decoSeparationHorz {
  width: 100%;
  position: absolute;
  top: 50%;
  display: inline-block;
}

.decoSeparationLine {
  border-bottom: 0.14rem solid #c4c4c4;
}

.decoSeparationStroke {
  border-bottom: 0.21rem solid #ff7a5f;
}

.fontTitle {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.054rem;
}

.fontSubTitle {
  font-size: 1.76rem;
  letter-spacing: 0.07rem;
}

.fontLink { /*usually a single or a few words represent link, to a certain page*/
  font-size: 1.3rem;
}

.fontCorner { /*mainly the corner's name show at a more static display, like Wished list*/
  font-size: 1.76rem;
  line-height: 3rem;
  letter-spacing: 0.04rem;
  font-weight: 700;
}

.fontOption { /*basically used by any corner list displaying those corners as options*/
  font-size: 1.76rem;
  line-height: 3rem;
  letter-spacing: 0.04rem;
}

.fontSubmit { /*the 'submit action' for an option, usually line up beneath a node*/
  font-size: 1.37rem;
  letter-spacing: 0.07rem;
  line-height: 2rem;
}

.fontType { /*the "small title" above the Node name explining the 'type/category' of this node*/
  font-size: 1.37rem;
  letter-spacing: 0.07rem;
  line-height: 2rem;
  color: rgb(110, 110, 110);
}

.fontDescrip { /*aim for sentence or paragraph used as a description or explain*/
  font-size: 1.37rem;
  letter-spacing: 0.07rem;
  line-height: 2rem;
  color: rgb(110, 110, 110);
}

.colorFstAssist { /*remember, this one should 'always' after the '.font' series */
  color: rgb(64, 133, 160);
}
