.comMainWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.boxRow {
  width: 100%;
  margin: 5vw 0 5vw;
}

.boxRowTop {
  width: 80vw; /*the only row not follow the heigher comp*/
  min-height: 247px;
  position: relative;
  left: -2.5vw;
  margin: 0 0 5vw;
}

.boxRowFlat {
  width:100%;
}

.boxMatchSet{
  width: 100%;
  height: 17rem;
  box-sizing: border-box;
  padding: 20px 0;
}

.boxList {
  width: 100%;
  margin: 5vw 0 0;
  position: relative;
  box-sizing: border-box;
}

.boxNail {
  background-color: #FFFFFF;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}

.boxWide {
  width: 40vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxNarrow {
  width: 20vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxEven {
  width: 30vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxMidium {
  width: 25vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.heightNine {
  height: 30vw;
}

.boxFillHoriz {
  width: 99%;
  height: 15vw;
}

.decoSeparationHorz {
  width: 100%;
  position: absolute;
  top: 50%;
  display: inline-block;
}

.decoSeparationLine {
  border-bottom: 0.14rem solid #c4c4c4;
}

.fontTitle {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.064rem;
}

.fontSubTitle {
  font-size: 1.76rem;
  letter-spacing: 0.07rem;
}

.fontLink { /*usually a single or a few words represent link, to a certain page*/
  font-size: 1.3rem;
}

.fontCorner { /*mainly the corner's name in an option list*/
  font-size: 1.76rem;
  line-height: 3rem;
  letter-spacing: 0.04rem;
  font-weight: 700;
}

.fontOption {

}

.fontSubmit { /*the 'submit action' usually line up beneath a node*/

}

.fontType { /*the "small title" above the Node name explining the 'type/category' of this node*/
  font-size: 1.37rem;
  letter-spacing: 0.07rem;
  line-height: 2rem;
  color: rgb(110, 110, 110);
}
