.boxfoot {
  padding: 0 8%;
}

.boxLeaving {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}

.fontLeaving {
  font-size: 1.24rem;
  font-weight: 400;
  letter-spacing: 0.056rem;
  text-align: center;
  color: #777777;
}
