.boxSet {
  position: relative;
  margin-top: 2rem;
  text-align: right;
}

.boxSetSubtitle {
  margin: 5px 0 0 0;
}

.boxInspiredBulb {
    display: inline-block;
    width: auto;
    height: 24px;
    position: absolute;
    left: 0;
    top: 5%;
}

@media screen and (max-width:860px) {
  .boxSet{
    display: inline-flex;
    margin: 1.6rem 0 0 40px; /* overlap margin-top set in normal size*/
  }

  .boxSetSubtitle {
    margin: 0 0 0 5px;
  }
}
