.linkOutbound {
  display: inline-block;
  max-width: 100%;
}

.spanOutbound {
  display: inline-block;
  max-width: 154px;
  box-sizing: border-box;
  border-bottom: solid 0.75px transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spanOutboundActiv {
  border-bottom: solid 0.75px #545454;
}
