.comSetBtnSign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}


.boxIndexShare {
  width: 100%;
  max-width: 335px;
}

.comBtnUpload {
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  padding: 11px 7% 10px;
}

.btnBorder {
  border: solid 2px #a3a3a3;
}

.comMouseEnter {
  border: solid 2px rgba(84, 84, 84, 0.45);
  background-color: #FFFFFF;
}

.boxSigninhint {
  margin-top: 8px;
  text-align: center;
}

.spanLink {
  display: inline-block;
  border-bottom: solid 0.75px transparent;
}

.spanLinkMouse {
  border-bottom: solid 0.75px #545454;
}

.spanWriter {
  display: inline-flex;
  align-items: center;
  height: 4rem;
  padding-right: 2px;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 860px) {

}

@media screen and (max-width:860px) {

}
