.comFocusBoardFeed {

}

.comFeedEmpty {
  width: 100%;
  padding-top: 6rem;
}

.boxTitle {
  margin: 8px 0;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxModuleItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxFocusNailSubtitle {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%; 
  padding-right: 2.76vw;
}

.boxSubtitleFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxFocusNailSubtitleUp {
  margin-bottom: 1rem;
  text-align: center;
}

.boxFocusNailSubtitleLow {
  text-align: center;
}

.boxDescript {
  width: 100%;
  text-align: center;
}

.boxEmptyDescript {
  width: 100%;
  text-align: center;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 4.4rem;
  margin-bottom: 35.6vh;
}

.spanFocusSubtitleConnect {
  display: inline-block;
  margin-left: 1rem;
}

.spanBaseNode {
  display: inline-block;
  border-bottom: solid 0.75px transparent;
}

.spanBaseNodeMouse {
  border-bottom: solid 0.75px #545454;
}

@media screen and (max-width:860px) {
  .comPathProjectFeed {
    flex-direction: column;
  }

  .boxModuleSmall {
    justify-content: center;
  }

  .boxModuleItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .boxFocusNailSubtitle {
    justify-content: flex-start;
    height: unset;
    margin: 8px 0;
    padding-left: 1.38vw;
  }

  .boxSmallNoFlex {
    display: unset;
    align-items: unset;
  }

  .boxFocusNailSubtitleUp {
    margin-bottom: unset;
    text-align: unset;
  }

  .boxFocusNailSubtitleLow {
    text-align: unset;
  }
}
