.comFocusBoardFeed {

}

.comFeedEmpty {
  width: 100%;
  padding-top: 6rem;
}

.boxTitle {
  margin: 8px 0;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxModuleItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxFocusNailSubtitle {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%; 
  max-width: 30%;
  padding-right: 2.76vw;
}

.boxFocusNailSubtitleUp {
  margin-bottom: 1rem;
}

.boxDescript {
  width: 100%;
  text-align: center;
}

.boxEmptyDescript {
  width: 100%;
  text-align: center;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 4.4rem;
  margin-bottom: 35.6vh;
}

.spanFocusSubtitleConnect {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (max-width:860px) {
  .comPathProjectFeed {
    flex-direction: column;
  }

  .boxModuleSmall {
    justify-content: center;
  }
}
