.boxTop {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 5vw; /* '%' would follow the width of the width of higher com, and heigher com could set min-width to limit experience */
}

.boxBanner {
  width: 65vw; /* follow the width of Scroll*/
  position: relative;
  box-sizing: border-box;
}

.boxTitle {
  width: 100%;
  position: relative;
  transform: translate(-12.5%,0);
  box-sizing: border-box;
}

.boxScroll {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65vw;
  position: relative;
  box-sizing: border-box;
}

.boxNail {
  background-color: #FFFFFF;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}

.boxWide {
  width: 40vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxNarrow {
  width: 20vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxEven {
  width: 30vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.boxMidium {
  width: 25vw;
  box-shadow: 0 2px 1px rgb(230, 230, 230);
}

.heightNine {
  height: 30vw;
}

.heightSix {
  height: 20vw;
}

.boxFillHoriz {
  width: 99%;
  height: 15vw;
}

.decoSeparationHorz {
  width: 100%;
  position: absolute;
  top: 50%;
  display: inline-block;
}
