.frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  padding: 0.69vw;
}

.frameOnMouse {

}

.boxContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 342px;
  min-width: 32vw;
  max-width: 96.24vw;
  height: 249px;
  min-height: 31.6vh;
  position: relative;
  margin: 0.69vw;
}

.boxContentMobile {
  display: flex;
  flex-direction: column;
  width: 342px;
  min-width: 32vw;
  max-width: 96.24vw;
  max-height: 289px;
  position: relative;
  margin: 0.69vw;
}

.boxImg {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
  background-color: rgba(217, 232, 255, 0.15);
  overflow: hidden;
}

.boxPreview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.boxTitle {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16.25px;
}

.boxNodes {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.boxAuthor {
  max-width: 100%;
}

.boxTitlePin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width:860px) {
  .frmaeSmall {
    display: inline-block;
  }
}
