.boxBlockDraft {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 5% 5%;
  margin-top: 13.33%;
  overflow-y: auto;
}

.boxInteraction {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 5%;
}

.boxDraftDisplay {
  width: 100%;
  min-height: 130px;
  position: relative;
  cursor: text;
}
