.fontTitleHuge {
  font-size: 3.6rem;
}

.fontTitleBig {
  font-size: 3.2rem;
}

.fontTitle {
  font-size: 2.4rem;
}

.fontTitleSmall {
  font-size: 1.2rem;
  line-height: 1.5;
}

.fontTitleSmallPlain {
  font-size: 1.2rem;
}

.fontSubtitle {
  font-size: 1.6rem;
}

.fontSubtitle_h5 {
  font-size: 1.6rem;
  line-height: 1.5;
}

.fontNodesEqual {
  font-size: 2rem;
}

.fontBold {
  font-size: 1.4rem;
  font-weight: bold;
}

.fontContentPlain {
  font-size: 1.4rem;
}

.fontContent {
  font-size: 1.4rem;
  line-height: 1.5;
}

.colorWhite {
  color: #ffffff
}

.colorStandard {
  color: #ff8168;
}

.colorAssistGold {
  color: #f3b55a;
}

.colorAssistOcean {
  color: rgb(69, 135, 160);
}

.colorLightGrey {
  color: #b8b8b8;
}

.colorWhiteGrey {
  color: #d8d8d8;
}

.colorGrey {
  color: #a3a3a3;
}

.colorDarkGrey {
  color: #979797;
}

.colorEditBlack {
  color: #545454;
}

.colorEditLightBlack {
  color: #757575;
}

.colorDescripBlack {
  color: #444444;
}

.colorOptionsBlack {
  color: #333333;
}

.colorSignBlack {
  color: #3c4144;
}

.colorBlack85 {
  color: rgba(0,0,0,0.85);
}

.weightBold {
  font-weight: bold;
}

.lineHeight15 {
  line-height: 1.5;
}

.fontStyleItalic {
  font-style: italic;
}

.boxServiceLink {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.tagServiceLink {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  margin-top: 1rem;
  text-align: center;
}

.fontServiceLink {
  font-size: 1.2rem;
  font-weight: bold;
}

.spanNameLayer {
  white-space: nowrap;
  font-size: 1.4rem;
  line-height: 1.71;
}

.spanNameContent {
  white-space: nowrap;
  font-size: 1.4rem;
  line-height: 1.5;
}

.spanNameRegularBold {
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
}

.spanNameRegular {
  white-space: nowrap;
  font-size: 1.6rem;
}

.spanNameFirstName {
  font-weight: 600; /* to overlap the default font weight */
}
