._C_C_app_Unit_Unit_styles_module__viewRelated {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}

._C_C_app_Unit_Unit_styles_module__boxBack {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  height: 5%;
  position: absolute;
  top: 2%;
  right: 1.4%;
  font-size: 1.23rem;
  font-weight: 500;
  color: #FFFFFF;
  cursor:pointer;
}

._C_C_app_Unit_Unit_styles_module__boxSubtitle {
  height: 43vh;
  box-sizing: border-box;
  text-align: center;
}

._C_C_app_Unit_Unit_styles_module__spanBack {
  box-sizing: border-box;
}

._C_C_app_Unit_Unit_styles_module__boxRelated {
  width: 63%;
  min-width: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-49%,0);
  box-sizing: border-box;
}

._C_C_app_Unit_Unit_styles_module__spanRelatedClose {
  display: inline-block;
  margin: 0 0.54rem;
  font-size: 1.32rem;
  font-weight: 700;
  font-style: normal;
  line-height: 3rem;
  color: #4085a0;
  cursor: pointer;
}
._C_C_app_Self_component_cognition_NavWalls_styleNavWalls_module__roundRecBox {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 1.6vh;
  cursor: pointer;
}
._C_C_app_Unit_Related_styles_module__comRelated {
  width: 100%;
  box-sizing: border-box;
}

._C_C_app_Unit_Related_styles_module__boxTop {
  width: 100%;
  height: 48vh;
  min-height: 231px;
  box-sizing: border-box;
  margin-top: 2vh;
}

._C_C_app_Unit_Related_styles_module__boxList {
  width: 100%;
  margin-top: 10vh;
}

._C_C_app_Unit_Related_styles_module__footer {
  width: 100%;
  height: 146px;
}
._C_C_app_Unit_Theater_styles_module__boxBackTop {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  height: 5%;
  position: absolute;
  top: 2%;
  right: 1.4%;
  font-size: 1.23rem;
  font-weight: 500;
  color: #F0F0F0;
  cursor:pointer;
}

._C_C_app_Unit_Theater_styles_module__spanBackTop {
  box-sizing: border-box;
}
._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlock {
  overflow: hidden;
  text-overflow: ellipsis;
}

._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlockNowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlock div, ._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlockNowrap div {
  display: inline-block;
}
._C_C_app_Unit_RelatedOrigin_styles_module__comRelatedOrig {
  width: 100%;
  height: 100%;
  position: relative;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxPreview {
  width: 63%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxNodes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 28%;
  min-height: 173px;
  position: absolute;
  bottom: 3%;
  left: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxAuthor {
  color: rgb(250, 250, 250);
  cursor:pointer;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2.8rem;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxListRela {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  padding-right: 13%;
  border-right: 0.75px solid #cccccc;
}

._C_C_app_Unit_RelatedOrigin_styles_module__fontContentSum {
  font-size: 1.56rem;
  font-weight: 300;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  letter-spacing: 0.087rem;
  line-height: 1.77rem;
  word-wrap: break-word;
  color: #FAFAFA;
}
._C_C_app_Unit_UnitLayerSwitch_styles_module__boxUnitLayerSwitch {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSwitch {
  width: 100%;
  height: auto;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,0);
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSwitchSvg {
  height: auto;
  position: relative;
  z-index: 2;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSpots {
  width: 100%;
  height: 172%;
  position: absolute;
  box-sizing: border-box;
  z-index: 0;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSpotBin {
  width: 24%;
  height: 75%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  box-sizing: border-box;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSpotSing {
  width: 100%;
  height: auto;
  position: absolute;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxDnClick {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSwitUp {
  width: 91%;
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 1.5%;
  cursor: pointer;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSwitDn {
  width: 100%;
}
._C_C_app_Unit_NodesDisplay_styles_module__boxListItem {
  display: inline-block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockDecoBack {
  width: 18%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockButton {
  width: 18%;
  height: 11%;
  position: absolute;
  left: 46%;
  box-sizing: border-box;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockPreview {
  width: 84%;
  height: 39%;
  position: absolute;
  left: 12%;
  box-sizing: border-box;
  box-shadow: -0.1rem 0.1rem 0.4rem 0;
  border-radius: 0.5vw;
  overflow: hidden;
  cursor: pointer;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__contentMarkInter {
  width: 90%;
  height: 0;
  position: relative;
  margin-left: 5%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  color: #ABABAB;
}
._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__Nails_Basic {
  background-color: #FFFFFF;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontContent {
  font-size: 1.34rem;
  font-weight: 400;
  letter-spacing: 0.16rem;
  line-height: 1.8rem;
  color: #FAFAFA;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontNouns {
  font-size: 1.54rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  font-family: 'cwTeXMing';
  color: black;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontAccount {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #757575;
}
._C_C_app_Component_OpenedMark_styles_module__boxMarkBlock {
  width: 29%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: 0 0 2px 0;
  background-color: #FCFCFC;
}

._C_C_app_Component_OpenedMark_styles_module__boxMarkinBlock {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxInteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 10.3rem;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 27px;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxContentDraft {
  min-height: 37vh;
  box-sizing: border-box;
  padding: 1vh 9% 0 10.8%;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxDraftBottom{
  height: 2rem;
  margin: 2.7vh 0 0 0;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__fontContentDraft {
  font-size: 1.52rem;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  word-break: break-all;
  color: #000000;
}
._C_C_app_Unit_Mark_ViewerBlock_styles_module__boxInteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 8.1rem;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

._C_C_app_Unit_Mark_ViewerBlock_styles_module__boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 0 0;
  text-align: right;
}

._C_C_app_Unit_Mark_ViewerBlock_styles_module__boxContentDraft {
  min-height: 37vh;
  box-sizing: border-box;
  padding: 1vh 9% 0 10.8%;
}

._C_C_app_Unit_Mark_ViewerBlock_styles_module__fontContentDraft {
  font-size: 1.52rem;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  word-break: break-all;
  color: #000000;
}
._C_C_app_Unit_Mark_AuthorBlock_styles_module__boxInteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 8.1rem;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

._C_C_app_Unit_Mark_AuthorBlock_styles_module__boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 0 0;
  text-align: right;
}

._C_C_app_Unit_Mark_AuthorBlock_styles_module__boxContentDraft {
  min-height: 37vh;
  box-sizing: border-box;
  padding: 1vh 9% 0 10.8%;
}

._C_C_app_Unit_Mark_AuthorBlock_styles_module__fontContentDraft {
  font-size: 1.52rem;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  word-break: break-all;
  color: #000000;
}
