.nodesListLayers{
  font-size: 3rem;
  letter-spacing: 0.13rem;
  font-weight: 400;
  font-family: 'gill-sans-nova';
  line-height: 2.7rem;
  color: #FAFAFA;
}

.nodesListSum{
  font-size: 1.54rem;
  letter-spacing: 0.154rem;
  font-weight: 400;
  font-family: 'cwTeXMing';
  color: #FAFAFA;
}

.boxImgPosition {
  position: absolute;
  top: 50%;
}

.circleMarkSpotSvg {
  width: 3.2vw;
  height: 3.2vw;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: visible;
  cursor: pointer;
}

.boxMarkCurCir {
  position: absolute;
  width: 57%;
  height: auto;
  top: 53%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.boxMarkNextCir {
  position: absolute;
  width: 64%;
  height: auto;
  cursor: pointer;
}

.sumPanelOptions {
  display: inline-block;
  width: 17%;
  height: 100%;
  position: relative;
  margin-right: 7%;
  float: right;
  box-sizing: border-box;
  cursor: pointer;
},
