._C_C_app_Within_stylesCosmic_module__boxFixedExplore {
  position: fixed;
  top: 34%;
  right: 5.4%;
  transform: translate(50%, 0);
  box-sizing: border-box;
}

._C_C_app_Within_stylesCosmic_module__fontExplore {
  font-size: 1.27rem;
  letter-spacing: 0.12rem;
  white-space: nowrap;
  color: #353535;
}
._C_C_app_Within_Explore_Explore_styles_module__boxOverlay {
  width: 100%;
  position: fixed;
  background-color: #FCFCFC;
}

._C_C_app_Within_Explore_Explore_styles_module__boxBottom {
  height: 79px;
  bottom: 0;
}

._C_C_app_Within_Explore_Explore_styles_module__boxTop {
  height: 47px;
  top: 0;
}

._C_C_app_Within_Explore_Explore_styles_module__boxMain {
  width: 100%;
  position: absolute;
  top: 47px;
  box-sizing: border-box;
}
._C_C_app_Within_component_LinkExplore_styles_module__comExplore {
  display: flex;
  position: relative;
}

._C_C_app_Within_component_LinkExplore_styles_module__boxExplore {
  position: relative;
  box-sizing: border-box;
}

._C_C_app_Within_component_LinkExplore_styles_module__boxSwitch {
  display: flex;
  align-items: flex-end;
}

._C_C_app_Within_component_LinkExplore_styles_module__boxCategory {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

._C_C_app_Within_component_LinkExplore_styles_module__fontCategory {
  color: #a8a8a8;
}
._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__boxOptions {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__fontCosmicCorner {
  font-size: 1.38rem;
  letter-spacing: 0.11rem;
  white-space: nowrap;
  color: #a8a8a8;
}
/*
mind the order here
because the css would overlap one by one,
start the fundemental first, and then the specific condition
*/

._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__specificNoneDis {
  display: none;
}

._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__boxAccount {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__boxFocus {
  display: block;
  position: absolute;
  right: 186px;
  bottom: 0;
}


._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__boxLogo {
  display: block;
  position: absolute;
  height: 12px;
  right: 186px;
  bottom: 0;
}
._C_C_app_Unit_Unit_styles_module__viewRelated {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}

._C_C_app_Unit_Unit_styles_module__boxBack {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  height: 5%;
  position: fixed;
  top: 2%;
  right: 2.1%;
  font-size: 1rem;
  color: #cccccc;
  cursor:pointer;
}

._C_C_app_Unit_Unit_styles_module__boxSubtitle {
  height: 39vh;
  box-sizing: border-box;
  text-align: center;
}

._C_C_app_Unit_Unit_styles_module__spanBack {
  box-sizing: border-box;
}

._C_C_app_Unit_Unit_styles_module__boxRelated {
  width: 68%;
  min-width: 790px;
  position: absolute;
  left: 51%;
  transform: translate(-49%,0);
  box-sizing: border-box;
}

._C_C_app_Unit_Unit_styles_module__spanRelatedClose {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.42rem;
  font-weight: 700;
  font-style: normal;
  line-height: 3rem;
  color: #cccccc;
  cursor: pointer;
}
._C_C_app_Unit_UnitIndepen_styles_module__boxRelated {
  width: 67%;
  min-width: 790px;
  position: absolute;
  left: 49%;
  transform: translate(-51%,0);
  box-sizing: border-box;
}

._C_C_app_Unit_UnitIndepen_styles_module__footer {
  height: 72px;
}
._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxTop {
  width: 99%;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 4rem;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxBanner {
  width: 83%; /*follow design, border left need to be more right than Logo*/
  position: relative;
  box-sizing: border-box;
  margin-left: 15%;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxScroll {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: -1px 0 0;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxNail {
  position: relative;
  background-color: #FFFFFF;
  cursor: pointer;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxWide {
  width: 64%;
  /*boxNarrow is the standard, as about 1/3 width of parent,
  so wide is about 2/3 but modified a little for deco. line., which is 4% of parent*/
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxNarrow {
  width: 30.5%;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxFlat {
  width: 47%;
  /*boxNarrow is the standard, as about 1/3 width of parent,
  so flat is about 1/2 but modified a little for deco. line., which is 4% of parent*/
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__heightFlat {
  height: 161px;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__heightNarrow {
  height: 317px;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxFillHoriz {
  width: 99%;
  height: 92px;
  position: relative;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__decoSeparationVerti {
  height: 89%;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__decoSeparationHorz {
  width: 100%
}
._C_C_app_Within_Explore_ExpSubtitle_styles_module__boxSubtitle {

}

._C_C_app_Within_Explore_ExpSubtitle_styles_module__fontSubtitle {
  font-size: 1.4rem;
  color: #a8a8a8;
}
._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlock {
  overflow: hidden;
  text-overflow: ellipsis;
}

._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlockNowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlock div, ._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlockNowrap div {
  display: inline-block;
}
._C_C_app_Unit_Theater_styles_module__boxBackTop {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  height: 5%;
  position: absolute;
  top: 2%;
  right: 1.4%;
  font-size: 1.23rem;
  font-weight: 500;
  color: #F0F0F0;
  cursor:pointer;
}

._C_C_app_Unit_Theater_styles_module__spanBackTop {
  box-sizing: border-box;
}
._C_C_app_Unit_Related_styles_module__comRelated {
  width: 100%;
  box-sizing: border-box;
}

._C_C_app_Unit_Related_styles_module__boxTop {
  width: 100%;
  height: 51vh;
  min-height: 259px;
  box-sizing: border-box;
  margin-top: 2vh;
}

._C_C_app_Unit_Related_styles_module__boxList {
  width: 100%;
  margin-top: 8vh;
}

._C_C_app_Unit_Related_styles_module__footer {
  width: 100%;
  height: 91px;
}
._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockDecoBack {
  width: 18%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockButton {
  width: 18%;
  height: 11%;
  position: absolute;
  left: 46%;
  box-sizing: border-box;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockPreview {
  width: 84%;
  height: 39%;
  position: absolute;
  left: 12%;
  box-sizing: border-box;
  box-shadow: -0.1rem 0.1rem 0.4rem 0;
  border-radius: 0.5vw;
  overflow: hidden;
  cursor: pointer;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__contentMarkInter {
  width: 90%;
  height: 0;
  position: relative;
  margin-left: 5%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  color: #ABABAB;
}
._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__Nails_Basic {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__frameOnMouse {
  outline: double 1px #777777;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontContent {
  font-size: 1.45rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
  line-height: 1.74rem;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  word-break: break-all;
  color: #FAFAFA;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontNouns {
  font-size: 2.14rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  color: #FAFAFA;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontAccount {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  color: #F0F0F0;
}
._C_C_app_Component_Blocks_SimpleBlock_styles_module__frameNail {
  display: inline-block;
  width: 32.8%;
  min-width: 264px;
  height: 34vh;
  min-height: 15.7rem;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 47px;
  box-shadow: 0 1px 1px -0.1rem, 0rem -0.05rem 2px -0.2rem;
  border-radius: 0.3rem;
}

/* beneath must after the main 'frameNail'*/

._C_C_app_Component_Blocks_SimpleBlock_styles_module__frameTwo {
  width: 49.42%;
  height: 20.4rem;
}
._C_C_app_Within_component_MainTitle_styles_module__comMainTitle {
  width: 100%;
  height: 26px;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 4.2rem;
}

._C_C_app_Within_component_MainTitle_styles_module__boxExplore {

}

._C_C_app_Within_component_MainTitle_styles_module__fontExplore {
  font-size: 1.32rem;
  letter-spacing: 0.12rem;
  white-space: nowrap;
  color: #333333;
}
._C_C_app_Within_component_MainBanner_styles_module__comMainBanner {
  width: 100%;
  min-height: 5.6rem;
  position: relative;
  box-sizing: border-box;
}

._C_C_app_Within_component_MainBanner_styles_module__boxContent {
  width: 100%;
}

._C_C_app_Within_component_MainBanner_styles_module__boxDate {
  position: absolute;
  top: 3.7rem;
  box-sizing: border-box;
}

._C_C_app_Within_component_MainBanner_styles_module__boxName {
  display: flex;
  align-items: baseline;
  width: 84.3%;
  position: absolute;
  right: 11.3rem;
}

._C_C_app_Within_component_MainBanner_styles_module__boxCreate {
  width: 8.1rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 0.1rem;
  box-sizing: border-box;
}

._C_C_app_Within_component_MainBanner_styles_module__boxFlex {
  display: flex;
  width: 71%;
  position: absolute;
  bottom: 0;
  right: 11.5rem;
}

._C_C_app_Within_component_MainBanner_styles_module__boxUnderline {
  flex: 1;
}

._C_C_app_Within_component_MainBanner_styles_module__boxCape {
  flex: 1;
  align-self: flex-start;
  padding: 1px;
}

._C_C_app_Within_component_MainBanner_styles_module__boxGreet {
  padding-left: 1.6rem;
}

._C_C_app_Within_component_MainBanner_styles_module__fontSubtitle {
  font-size: 1.4rem;
}

._C_C_app_Within_component_MainBanner_styles_module__fontHello {
  color: #6e6e6e;
}

._C_C_app_Within_component_MainBanner_styles_module__borderBanner {
  border-bottom: 0.14rem solid #c4c4c4;
}
._C_C_app_Unit_RelatedList_styles_module__boxList {
  display: inline-block;
  width: 73%;
}

._C_C_app_Unit_RelatedList_styles_module__boxSubtitle {
  display: inline-block;
  width: 27%;
  box-sizing: border-box;
  padding: 12% 1%;
}

._C_C_app_Unit_RelatedList_styles_module__fontSubtitle {
  font-size: 1.44rem;
  letter-spacing: 0.12rem;
  font-weight: 400;
  color: #777777;
}
._C_C_app_Unit_RelatedOrigin_styles_module__comRelatedOrig {
  width: 100%;
  height: 100%;
  position: relative;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxPreview {
  width: 63%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

._C_C_app_Unit_RelatedOrigin_styles_module__mouseOnPreview {
  outline: double 1.5px #777777;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxNodes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 27%;
  max-height: 64%;
  position: absolute;
  bottom: 4%;
  left: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxAuthor {
  max-width: 16%;
  position: absolute;
  bottom: 66%;
  left: 6%;
  color: #323232;
  cursor:pointer;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2.8rem;
}

._C_C_app_Unit_RelatedOrigin_styles_module__boxListRela {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  padding-right: 13%;
  border-right: 0.75px solid #cccccc;
}

._C_C_app_Unit_RelatedOrigin_styles_module__fontContentSum {
  font-size: 1.56rem;
  font-weight: 300;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  letter-spacing: 0.087rem;
  line-height: 1.77rem;
  word-wrap: break-word;
  color: #FAFAFA;
}
._C_C_app_Component_Nails_NailThumb_styles_module__frame {
  width: 100%;
  height: 100%;
}

._C_C_app_Component_Nails_NailThumb_styles_module__frameOnMouse {
  outline: double 1.5px #777777;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxImg {
  width: 100%;
  height: 57%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

._C_C_app_Component_Nails_NailThumb_styles_module__interMask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.09)
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxNodes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 12%;
  position: absolute;
  top: 58%;
  left: 0%;
  box-sizing: border-box;
  padding: 12px 0 0 3%;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxNodesItem {
  align-self: baseline;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: 0% 2% 0% 0;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxMarkPreview {
  width: 96%;
  max-height: 19.8%;
  position: absolute;
  box-sizing: border-box;
  bottom: 1%;
  left: 2%;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxAuthor {
  position: absolute;
  box-sizing: border-box;
  right: 1%;
  top: 70%;
}

._C_C_app_Component_Nails_NailThumb_styles_module__spanAuthor {
  display: inline-block;
  white-space: nowrap;
}

._C_C_app_Component_Nails_NailThumb_styles_module__fontNode {
  font-size: 1.7rem;
  letter-spacing: 0.12rem;
  color: rgb(76, 76, 78);
}

._C_C_app_Component_Nails_NailThumb_styles_module__fontAuthor {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
  color: #6e6e6e;
}

._C_C_app_Component_Nails_NailThumb_styles_module__fontMark {
  font-size: 1.38rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  text-align: left;
  color: #000000;
}
._C_C_app_Component_Nails_NailFlatDisplay_styles_module__frame {
  width: 100%;
  height: 100%;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__frameOnMouse {
  outline: double 1.5px #777777;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxImg {
  width: 37.5%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__interMask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.09)
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxNodes {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 61%;
  height: 39%;
  position: absolute;
  top: 0%;
  left: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxNodesItem {
  align-self: center;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: 0% 2% 0% 0;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxMarkPreview {
  width: 61%;
  max-height: 40%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0%;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxAuthor {
  position: absolute;
  box-sizing: border-box;
  left: 0%;
  top: 40%;
  white-space: nowrap;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__fontNode {
  font-size: 1.7rem;
  letter-spacing: 0.12rem;
  color: rgb(76, 76, 78);
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__fontAuthor {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
  color: #6e6e6e;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__fontMark {
  font-size: 1.38rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  text-align: left;
  color: #000000;
}
._C_C_app_Component_Nails_NailWideDisplay_styles_module__frame {
  width: 100%;
  height: 100%;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__frameOnMouse {
  outline: double 1.5px #777777;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxImg {
  width: 69%;
  height: 84%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__interMask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.09)
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxNodes {
  width: 81%;
  position: absolute;
  top: 0;
  left: 1%;
  box-sizing: border-box;
  padding-top: 13px;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxNodesItem {
  display: inline-block;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  margin-left: 1.2%;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__fontNode {
  font-size: 1.7rem;
  letter-spacing: 0.12rem;
  color: rgb(76, 76, 78);
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxAuthor {
  max-width: 13%;
  position: absolute;
  box-sizing: border-box;
  right: 2%;
  top: 7%;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__fontAuthor {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
  color: #6e6e6e;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxMarkArea {
  width: 32%;
  height: 84%;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxMarkPreview {
  width: 25%;
  max-height: 66%;
  position: absolute;
  box-sizing: border-box;
  right: 3%;
  top: 20%;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2.8rem;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__fontMark {
  font-size: 1.38rem;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
._C_C_app_Unit_UnitLayerSwitch_styles_module__boxUnitLayerSwitch {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSwitch {
  width: 100%;
  height: auto;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,0);
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSwitchSvg {
  height: auto;
  position: relative;
  z-index: 2;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSpots {
  width: 100%;
  height: 172%;
  position: absolute;
  box-sizing: border-box;
  z-index: 0;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSpotBin {
  width: 24%;
  height: 75%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  box-sizing: border-box;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSpotSing {
  width: 100%;
  height: auto;
  position: absolute;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxDnClick {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSwitUp {
  width: 91%;
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 1.5%;
  cursor: pointer;
}

._C_C_app_Unit_UnitLayerSwitch_styles_module__boxSwitDn {
  width: 100%;
}
._C_C_app_Unit_NodesDisplay_styles_module__boxListItem {
  display: inline-block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

._C_C_app_Unit_NodesDisplay_styles_module__interLiItem {
  text-shadow: 0px 1px 1px #bbbbbb;
}
._C_C_app_Component_OpenedMark_styles_module__boxMarkBlock {
  width: 29%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: 0 0 2px 0;
  background-color: #FCFCFC;
}

._C_C_app_Component_OpenedMark_styles_module__boxMarkinBlock {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxInteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 10.3rem;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 27px;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxContentDraft {
  min-height: 37vh;
  box-sizing: border-box;
  padding: 1vh 9% 0 10.8%;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxDraftBottom{
  height: 2rem;
  margin: 2.7vh 0 0 0;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__fontContentDraft {
  font-size: 1.52rem;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  word-break: break-all;
  color: #000000;
}
._C_C_app_Unit_Mark_AuthorBlock_styles_module__boxInteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 8.1rem;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

._C_C_app_Unit_Mark_AuthorBlock_styles_module__boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 0 0;
  text-align: right;
}

._C_C_app_Unit_Mark_AuthorBlock_styles_module__boxContentDraft {
  min-height: 37vh;
  box-sizing: border-box;
  padding: 1vh 9% 0 10.8%;
}

._C_C_app_Unit_Mark_AuthorBlock_styles_module__fontContentDraft {
  font-size: 1.52rem;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  word-break: break-all;
  color: #000000;
}
._C_C_app_Unit_Mark_ViewerBlock_styles_module__boxInteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 8.1rem;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

._C_C_app_Unit_Mark_ViewerBlock_styles_module__boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 0 0;
  text-align: right;
}

._C_C_app_Unit_Mark_ViewerBlock_styles_module__boxContentDraft {
  min-height: 37vh;
  box-sizing: border-box;
  padding: 1vh 9% 0 10.8%;
}

._C_C_app_Unit_Mark_ViewerBlock_styles_module__fontContentDraft {
  font-size: 1.52rem;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  word-break: break-all;
  color: #000000;
}
