.boxServiceLink {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.tagServiceLink {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 0.1rem;
}

.tagServiceLinkMouse {
  border-bottom: solid 0.75px #ababab; /* color follow the font*/
}

.fontServiceLink {
  font-size: 1.21rem;
  letter-spacing: 0.07rem;
  color: #ababab;
}

.spanNameItalic {
  font-style: italic;
}

.spanNameLayer {
  white-space: nowrap;
  font-size: 1.36rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
}

.spanNameRegular {
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.spanNameMedium {
  white-space: nowrap;
  font-size: 2.1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.spanNameTitle {
  white-space: nowrap;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
}

.spanNameLarge {
  white-space: nowrap;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.21rem;
}
