._C_C_app_Within_stylesCosmic_module__boxFixedExplore {
  position: fixed;
  top: 34%;
  right: 5.4%;
  transform: translate(50%, 0);
  box-sizing: border-box;
}

._C_C_app_Within_stylesCosmic_module__fontExplore {
  font-size: 1.27rem;
  letter-spacing: 0.12rem;
  white-space: nowrap;
  color: #353535;
}
._C_C_app_Within_component_LinkExplore_styles_module__comExplore {
  display: flex;
  position: relative;
}

._C_C_app_Within_component_LinkExplore_styles_module__boxExplore {
  position: relative;
  box-sizing: border-box;
}

._C_C_app_Within_component_LinkExplore_styles_module__boxSwitch {
  display: flex;
  align-items: flex-end;
}

._C_C_app_Within_component_LinkExplore_styles_module__boxCategory {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

._C_C_app_Within_component_LinkExplore_styles_module__fontCategory {
  color: #a8a8a8;
}
._C_C_app_Within_component_CosmicMain_styles_module__boxBackPlane {
  width: 100%;
  height: 100%;
  position: fixed;
}

._C_C_app_Within_component_CosmicMain_styles_module__bgBackPlane {
  background-color: #fafafa;
}
._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__boxOptions {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__fontCosmicCorner {
  font-size: 1.38rem;
  letter-spacing: 0.11rem;
  white-space: nowrap;
  color: #a8a8a8;
}
/*
mind the order here
because the css would overlap one by one,
start the fundemental first, and then the specific condition
*/

._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__specificNoneDis {
  display: none;
}

._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__boxAccount {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__boxFocus {
  display: block;
  position: absolute;
  right: 186px;
  bottom: 0;
}


._C_C_app_Within_component_CosmicCorner_stylesCosmicCorner_module__boxLogo {
  display: block;
  position: absolute;
  height: 12px;
  right: 186px;
  bottom: 0;
}
._C_C_app_Within_Explore_ExpSubtitle_styles_module__boxSubtitle {

}

._C_C_app_Within_Explore_ExpSubtitle_styles_module__fontSubtitle {
  font-size: 1.4rem;
  color: #a8a8a8;
}
._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxTop {
  width: 99%;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 4rem;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxBanner {
  width: 83%; /*follow design, border left need to be more right than Logo*/
  position: relative;
  box-sizing: border-box;
  margin-left: 15%;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxScroll {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: -1px 0 0;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxNail {
  position: relative;
  background-color: #FFFFFF;
  cursor: pointer;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxWide {
  width: 51%;
  /*boxNarrow is the standard*/
  box-shadow: 0 0.7px 1.2px -1px;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxNarrow {
  width: 30.5%;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxFlat {
  width: 47%;
  /*boxNarrow is the standard, as about 1/3 width of parent,
  so flat is about 1/2 but modified a little for deco. line., which is 4% of parent*/
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__heightFlat {
  height: 161px;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__heightNarrow {
  height: 378px;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__boxFillHoriz {
  width: 99%;
  height: 92px;
  position: relative;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__decoSeparationVerti {
  height: 89%;
}

._C_C_app_Within_component_MainIndex_stylesMainIndex_module__decoSeparationHorz {
  width: 100%
}
._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlock {
  overflow: hidden;
  text-overflow: ellipsis;
}

._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlockNowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlock div, ._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlockNowrap div {
  display: inline-block;
}
._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockDecoBack {
  width: 18%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockButton {
  width: 18%;
  height: 11%;
  position: absolute;
  left: 46%;
  box-sizing: border-box;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockPreview {
  width: 84%;
  height: 39%;
  position: absolute;
  left: 12%;
  box-sizing: border-box;
  box-shadow: -0.1rem 0.1rem 0.4rem 0;
  border-radius: 0.5vw;
  overflow: hidden;
  cursor: pointer;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__contentMarkInter {
  width: 90%;
  height: 0;
  position: relative;
  margin-left: 5%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  color: #ABABAB;
}
._C_C_app_Within_component_MainTitle_styles_module__comMainTitle {
  width: 100%;
  height: 26px;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 4.2rem;
}

._C_C_app_Within_component_MainTitle_styles_module__boxExplore {

}

._C_C_app_Within_component_MainTitle_styles_module__fontExplore {
  font-size: 1.32rem;
  letter-spacing: 0.12rem;
  white-space: nowrap;
  color: #333333;
}
._C_C_app_Within_component_MainBanner_styles_module__comMainBanner {
  width: 100%;
  min-height: 5.6rem;
  position: relative;
  box-sizing: border-box;
}

._C_C_app_Within_component_MainBanner_styles_module__boxContent {
  width: 100%;
}

._C_C_app_Within_component_MainBanner_styles_module__boxDate {
  position: absolute;
  top: 3.7rem;
  box-sizing: border-box;
}

._C_C_app_Within_component_MainBanner_styles_module__boxName {
  display: flex;
  align-items: baseline;
  width: 84.3%;
  position: absolute;
  right: 11.3rem;
}

._C_C_app_Within_component_MainBanner_styles_module__boxCreate {
  width: 8.1rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 0.1rem;
  box-sizing: border-box;
}

._C_C_app_Within_component_MainBanner_styles_module__boxFlex {
  display: flex;
  width: 71%;
  position: absolute;
  bottom: 0;
  right: 11.5rem;
}

._C_C_app_Within_component_MainBanner_styles_module__boxUnderline {
  flex: 1;
}

._C_C_app_Within_component_MainBanner_styles_module__boxCape {
  flex: 1;
  align-self: flex-start;
  padding: 1px;
}

._C_C_app_Within_component_MainBanner_styles_module__boxGreet {
  padding-left: 1.6rem;
}

._C_C_app_Within_component_MainBanner_styles_module__fontSubtitle {
  font-size: 1.4rem;
}

._C_C_app_Within_component_MainBanner_styles_module__fontHello {
  color: #6e6e6e;
}

._C_C_app_Within_component_MainBanner_styles_module__borderBanner {
  border-bottom: 0.14rem solid #c4c4c4;
}
._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__Nails_Basic {
  background-color: #FFFFFF;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontContent {
  font-size: 1.34rem;
  font-weight: 400;
  letter-spacing: 0.16rem;
  line-height: 1.8rem;
  color: #FAFAFA;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontNouns {
  font-size: 1.54rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  font-family: 'cwTeXMing';
  color: black;
}

._C_C_app_Component_Nails_NailBasic_styleNailBasic_module__fontAccount {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #757575;
}
._C_C_app_Component_Nails_NailWideDisplay_styles_module__frame {
  width: 100%;
  height: 100%;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxImg {
  width: 100%;
  height: 72%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxNodes {
  width: 100%;
  position: absolute;
  bottom: 28%;
  left: 0%;
  box-sizing: border-box;
  padding: 24px 0 30px;
  background-image: linear-gradient(0deg, rgb(3,3,3), transparent);
  overflow: hidden;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxNodesItem {
  display: inline-block;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0.5rem 1% 0 3%;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__fontNode {
  font-size: 2.1rem;
  letter-spacing: 0.12rem;
  color: #fafafa;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxAuthor {
  max-width: 13%;
  position: absolute;
  box-sizing: border-box;
  right: 2%;
  bottom: 7%;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__fontAuthor {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
  color: #6e6e6e;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxMarkArea {
  width: 100%;
  height: 30%;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxMarkPreview {
  width: 74%;
  max-height: 22%;
  position: absolute;
  box-sizing: border-box;
  left: 3%;
  top: 76%;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2.8rem;
}

._C_C_app_Component_Nails_NailWideDisplay_styles_module__fontMark {
  font-size: 1.42rem;
  font-weight: 400;
  line-height: 1.56rem;
  text-align: left;
  color: #000000;
}
._C_C_app_Component_Nails_NailThumb_styles_module__frame {
  width: 100%;
  height: 100%;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxImg {
  width: 100%;
  height: 57%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxNodes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 12%;
  position: absolute;
  top: 58%;
  left: 0%;
  box-sizing: border-box;
  padding: 12px 0 0 3%;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxNodesItem {
  align-self: baseline;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: 0% 2% 0% 0;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxMarkPreview {
  width: 96%;
  max-height: 19.8%;
  position: absolute;
  box-sizing: border-box;
  bottom: 1%;
  left: 2%;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailThumb_styles_module__boxAuthor {
  position: absolute;
  box-sizing: border-box;
  right: 1%;
  top: 70%;
}

._C_C_app_Component_Nails_NailThumb_styles_module__spanAuthor {
  display: inline-block;
  white-space: nowrap;
}

._C_C_app_Component_Nails_NailThumb_styles_module__fontNode {
  font-size: 1.7rem;
  letter-spacing: 0.12rem;
  color: rgb(76, 76, 78);
}

._C_C_app_Component_Nails_NailThumb_styles_module__fontAuthor {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
  color: #6e6e6e;
}

._C_C_app_Component_Nails_NailThumb_styles_module__fontMark {
  font-size: 1.38rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  text-align: left;
  color: #000000;
}
._C_C_app_Component_Nails_NailFlatDisplay_styles_module__frame {
  width: 100%;
  height: 100%;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxImg {
  width: 37.5%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxNodes {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 61%;
  height: 39%;
  position: absolute;
  top: 0%;
  left: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxNodesItem {
  align-self: center;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: 0% 2% 0% 0;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxMarkPreview {
  width: 61%;
  max-height: 40%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0%;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__boxAuthor {
  position: absolute;
  box-sizing: border-box;
  left: 0%;
  top: 40%;
  white-space: nowrap;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__fontNode {
  font-size: 1.7rem;
  letter-spacing: 0.12rem;
  color: rgb(76, 76, 78);
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__fontAuthor {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
  color: #6e6e6e;
}

._C_C_app_Component_Nails_NailFlatDisplay_styles_module__fontMark {
  font-size: 1.38rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  text-align: left;
  color: #000000;
}
._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fdfdfd;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxContentDraft {
  max-height: 44vh;
  min-height: 35vh;
  box-sizing: border-box;
  padding: 5vh 10% 0 6.5%;
  overflow-y: auto;
  cursor: text;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxDraftBottom{
  margin: 2.7vh 0 1.4vh 0;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__fontContentDraft {
  font-size: 1.36rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #000000;
}
._C_C_app_Component_Unit_Mark_ViewerBlock_styles_module__boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 1.4vh 0;
  text-align: right;
}

._C_C_app_Component_Unit_Mark_ViewerBlock_styles_module__boxContentDraft {
  max-height: 44vh;
  min-height: 35vh;
  box-sizing: border-box;
  padding: 5vh 10% 0 6.5%;
  overflow-y: auto;
}

._C_C_app_Component_Unit_Mark_ViewerBlock_styles_module__fontContentDraft {
  font-size: 1.36rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #000000;
}
._C_C_app_Component_Unit_Mark_AuthorBlock_styles_module__boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 1.4vh 0;
  text-align: right;
}

._C_C_app_Component_Unit_Mark_AuthorBlock_styles_module__boxContentDraft {
  max-height: 44vh;
  min-height: 35vh;
  box-sizing: border-box;
  padding: 5vh 10% 0 6.5%;
  overflow-y: auto;
}

._C_C_app_Component_Unit_Mark_AuthorBlock_styles_module__fontContentDraft {
  font-size: 1.36rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #000000;
}
