.boxDialog {
  width: 467px;
  position: absolute;
  top: 39%;
  left: 52%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  box-shadow: 1px 2px 3px 0;
  border-radius: 1rem;
  background-color: white;
}

.fontNailMark {
  font-size: 1.34rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  line-height: 18px;
  text-align: left;
}

.fontNailAuthor {
  font-size: 1.27rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
}
