.nodesListLayers{
  font-size: 2.56rem;
  letter-spacing: 0.13rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  line-height: 2.6rem;
  color: #FAFAFA;
}

.nodesListSum{
  font-size: 1.54rem;
  letter-spacing: 0.14rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  color: #FAFAFA;
}

.nodesListRela{
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  line-height: 1.2rem;
  color: #111111;
}

.fontContentSum {
  font-size: 1.54rem;
  font-weight: 300;
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  letter-spacing: 0.07rem;
  line-height: 2.3rem;
  color: #FAFAFA;
}

.boxImgPosition {
  position: absolute;
  top: 50%;
}

.boxSumStatic {
  margin-bottom: 2rem;
}

.circleMarkSpotSvg {
  width: 3.2vw;
  height: 3.2vw;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: visible;
  cursor: pointer;
}

.boxMarkCurCir {
  position: absolute;
  width: 57%;
  height: auto;
  top: 53%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.boxMarkNextCir {
  position: absolute;
  width: 64%;
  height: auto;
  cursor: pointer;
}

.sumPanelOptions {
  box-sizing: border-box;
}

.boxSumOptEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 7%;
  text-align: right;
}

.fontSumOpt{
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.078rem;
  line-height: 16px;
}
