._C_C_app_Self_component_cognition_NavWalls_styleNavWalls_module__roundRecBox {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 1.6vh;
  cursor: pointer;
}
._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlock {
  overflow: hidden;
  text-overflow: ellipsis;
}

._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlockNowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlock div, ._C_C_app_Component_Draft_styleDisplay_module__markDisplayBlockNowrap div {
  display: inline-block;
}
._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockDecoBack {
  width: 18%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockButton {
  width: 18%;
  height: 11%;
  position: absolute;
  left: 46%;
  box-sizing: border-box;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__imgBLockPreview {
  width: 84%;
  height: 39%;
  position: absolute;
  left: 12%;
  box-sizing: border-box;
  box-shadow: -0.1rem 0.1rem 0.4rem 0;
  border-radius: 0.5vw;
  overflow: hidden;
  cursor: pointer;
}

._C_C_app_Component_Editing_EditingModal_styleEditingModal_module__contentMarkInter {
  width: 90%;
  height: 0;
  position: relative;
  margin-left: 5%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  color: #ABABAB;
}
._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fdfdfd;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxContentDraft {
  max-height: 44vh;
  min-height: 35vh;
  box-sizing: border-box;
  padding: 5vh 10% 0 6.5%;
  overflow-y: auto;
  cursor: text;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__boxDraftBottom{
  margin: 2.7vh 0 1.4vh 0;
}

._C_C_app_Component_Editing_MarkEditingBlock_styles_module__fontContentDraft {
  font-size: 1.36rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #000000;
}
._C_C_app_Component_Unit_Mark_AuthorBlock_styles_module__boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 1.4vh 0;
  text-align: right;
}

._C_C_app_Component_Unit_Mark_AuthorBlock_styles_module__boxContentDraft {
  max-height: 44vh;
  min-height: 35vh;
  box-sizing: border-box;
  padding: 5vh 10% 0 6.5%;
  overflow-y: auto;
}

._C_C_app_Component_Unit_Mark_AuthorBlock_styles_module__fontContentDraft {
  font-size: 1.36rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #000000;
}
._C_C_app_Component_Unit_Mark_ViewerBlock_styles_module__boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 1.4vh 0;
  text-align: right;
}

._C_C_app_Component_Unit_Mark_ViewerBlock_styles_module__boxContentDraft {
  max-height: 44vh;
  min-height: 35vh;
  box-sizing: border-box;
  padding: 5vh 10% 0 6.5%;
  overflow-y: auto;
}

._C_C_app_Component_Unit_Mark_ViewerBlock_styles_module__fontContentDraft {
  font-size: 1.36rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #000000;
}
