.plainLinkButton {
  text-decoration: none;
  color: inherit;
}

.plainInputText {
  outline: none;
}

.plainInput {
  outline: none;
  border: unset;
}

.plainBoxDisplay {
  display: unset;
}

.boxAbsoluteFull {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.boxRelativeFull {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.boxInlineRelative {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.verticalAlignChild {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.centerAlignChild {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayNone {
  display: none;
}

.smallDisplayBox {
  display: none;
}

.boxDialog {
  width: 520px;
  max-width: 90vw;
  max-height: 90vh;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);;
  border-radius: 4px;
  background-color: white;
}

@media screen and (max-width:860px) {
  .smallDisplayBox {
    display: block;
  }

  .smallDisplayNone {
    display: none;
  }
}
