.comTitlePath {
    display: flex;
    align-items: flex-end;
}

.boxTitleText {
    width: 68%;
    margin-right: 20px;
}

.boxBtnShare {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.boxIconCopy {
  width: 30px;
  height: 20px;
}

.boxModalEmit {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translate(-50%, 0);
}

.boxHiddenText {
  position: absolute;
  left: 200%;
}
