.comTitlePath {
    display: flex;
    flex-direction: column;
}

.boxUpper {
  display: flex;
  align-items: baseline;
}

.boxDescription {
  margin: 7.614vh 0 0;
}

.linkTitleText {
  display: inline-block;
  max-width: 68%;
  margin-right: 30px;
}

.boxBtnShare {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.boxIconCopy {
  width: 22px;
  height: 18px;
}

.boxModalEmit {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translate(-50%, 0);
}

.boxHiddenText {
  position: absolute;
  left: 200%;
}

.boxProjectInfo {
  display: inline-block;
  max-width: 68%;
}

.boxSvgNetGlobe {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 5px;
}

.linkSetlink {
  display: inline-flex;
  align-items: center;
}

.spanLinkSetlink {
  display: inline-block;
  width: 196px;
  border-bottom: solid 1px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.spanLinkSetlinkMouse {
  border-bottom: solid 1px #444444;
}
