.comMainBanner {
  width: 100%;
  min-height: 5.6rem;
  position: relative;
  box-sizing: border-box;
}

.boxContent {
  width: 100%;
}

.boxDate {
  position: absolute;
  top: 3.7rem;
  box-sizing: border-box;
}

.boxName {
  position: absolute;
}

.boxCreate {
  width: 7.8rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 0.24rem;
  box-sizing: border-box;
}

.boxFlex {
  display: flex;
  width: 73%;
  min-width: 280px;
  position: absolute;
  bottom: 0;
  right: 10rem;
}

.boxUnderline {
  flex: 1 62%;
}

.boxGreet {
  flex: 1;
  padding-left: 4%;
}

.fontSubtitle {
  font-size: 1.3rem;
}

.fontHello {
  color: #6e6e6e;
}

.borderBanner {
  border-bottom: 0.14rem solid #c4c4c4;
}
