.comMainBanner {
  width: 100%;
  min-height: 5.6rem;
  position: relative;
  box-sizing: border-box;
}

.boxContent {
  width: 100%;
}

.boxDate {
  position: absolute;
  top: 3.7rem;
  box-sizing: border-box;
}

.boxName {
  position: absolute;
}

.boxCreate {
  width: 8.1rem;
  height: auto;
  position: absolute;
  right: 0;
  box-sizing: border-box;
}

.boxFlex {
  display: flex;
  width: 70%;
  min-width: 280px;
  position: absolute;
  bottom: 0;
  right: 104px;
}

.boxUnderline {
  flex: 1 99%;
  border-bottom: 1px solid #c4c4c4;
}

.boxGreet {
  flex: 1;
}

.fontSubtitle {
  font-size: 1.3rem;
}

.fontHello {
  color: #6e6e6e;
}
