.comSubcatesList {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.linkSubcate {
  display: flex;
  margin: 0 5px 0 0;
  padding: 4px 8px;
  border-radius: 8px;
}

.mouseovlinkSubcate {
  background-color: rgb(216,216,216,0.15);
  cursor: pointer;
}

.comTitleSubcate {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.boxSubcateClose {
  width: 15px;
  padding: 2.5px 0;
  text-align: center;
  cursor: pointer;
}

.spanLinkNode {
  display: inline-block;
  border-bottom: solid 1px transparent;
}

.spanLinkNodeMouse {
  border-bottom: solid 1px #545454;
}

.linkBlock {
  display: block;
}

.rowTitleMargin {
  margin: 8px 0 0;
}

.rowTitlePadding {
  padding-bottom: 2.538vh;
  border-bottom: 1px solid #d8d8d8;
}

@media screen and (max-width:860px) {

}
