.comEntitySubcate {
  display: flex;
}

.boxVisitRegister {
  text-align: center;
}

.comEntitySubcateTitle {

}

.linkBtnNext {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.spanLinkSubcate {
  display: inline-block;
}

@media screen and (min-width:860px) {
  .comEntitySubcate {
    flex-direction: column-reverse;
  }

  .boxVisitRegister {
    margin-top: 12px;
  }

  .linkBtnNext {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }

  .spanLinkSubcate {
    writing-mode: tb-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    border-left: solid 1px transparent;
    color: #545454; /* the text color change as screen width change*/
  }

  .spanLinkSubcateMouse {
    border-left: solid 1px #545454;
  }
}

@media screen and (max-width:860px) {
  .comEntitySubcate {
    justify-content: space-between;
    align-items: center;
  }

  .boxVisitRegister {
    flex: 1;
  }

  .comEntitySubcateTitle {
    padding: 2.54vh 5% 2.03vh;
  }

  .linkBtnNext {
    height: 36px;
    margin-left: 16px;
    padding: 5px 2px 5px 6px;
  }

  .spanLinkSubcate {
    border-bottom: solid 1px transparent;
    color: #FFFFFF; /* the text color change as screen width change*/
  }

  .spanLinkSubcateMouse {
    border-bottom: solid 1px #FFFFFF;
  }

}
