.comNavFilter {

}

.boxRowInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.boxRowFilterNode {
  margin: 16px 0 0;
}

.boxProjectInfo {
  display: inline-block;
  max-width: 68%;
}

.boxFilter {
  display: inline-block;
  box-sizing: border-box;
}

.boxSvgArrow {
  width: 15px;
  height: 15px;
  padding: 5px 0 0 5px;
  cursor: pointer;
}

.boxIconsFilter {
  height: 20px;
}

.boxIconFilterNode {
  display: inline-block;
  width: 28px;
  height: 20px;
  box-sizing: border-box;
  text-align: right;
  cursor: pointer;
}

.boxInputLine {
  display: inline-block;
}

.spanFilterCross {
  display: inline-block;
  margin-right: 15px;
}
