.comNavFilter {

}

.boxRowInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.boxRowFilterNode {
  margin: 16px 0 0;
}

.boxProjectInfo {
  display: inline-block;
  max-width: 68%;
}

.boxFilter {
  display: inline-block;
}

.boxSvgArrow {
  width: 15px;
  height: 15px;
  padding: 5px 0 0 5px;
  cursor: pointer;
}

.boxInputLine {
  display: inline-block;
  margin-left: 15px;
}

.spanFilterCross {
  display: inline-block;
}
