.comAroundWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 92vh; /* from height of NavOptions on small screen */
  position: relative;
  box-sizing: border-box;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 28px;
  margin-bottom: 36vh;
}

.boxTitle {
  margin: 8px 0;
}

.boxUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxModuleItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.boxFooterBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 78%;
  min-width: 274px;
  min-height: 31.6vh;
  padding: 32px 0 0;
}

.boxSetBtnSign {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.spanFooterHint {
  margin: 8px 0;
}

@media screen and (max-width:860px) {
  .boxModuleSmall {
    justify-content: center;
    width: 100vw;
    max-width: 556px;
  }

  .boxModuleItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .boxFooter {
    margin-bottom: 19vh;
  }
}
