.boxInteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 8.1rem;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

.boxPanelJump {
  box-sizing: border-box;
  padding: 0 10% 0 8%;
  margin: 2.7vh 0 0 0;
  text-align: right;
}

.boxContentDraft {
  min-height: 37vh;
  box-sizing: border-box;
  padding: 1vh 9% 0 10.8%;
}

.fontContentDraft {
  font-size: 1.52rem;
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: 'gill-sans-nova';
  word-break: break-all;
  color: #000000;
}
