.fontTitleSmall {
  font-size: 1.2rem;
  line-height: 1.5;
}

.fontTitle {
  font-size: 3.2rem;
  line-height: 1.5;
}


.fontContent {
  font-size: 1.4rem;
  line-height: 1.5;
}

.fontNodesTitle {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}

.fontTitleNotice {
  font-size: 2.8rem;
  line-height: 1.71;
}

.fontSubmit {
  font-size: 2.4rem;
}

.fontHint {
  font-size: 1.4rem;
}

.fontSubtitle {
  font-size: 1.5rem;
}

.fontGreet {
  font-size: 1.87rem;
  letter-spacing: 0.07rem;
}

.fontDescrip {
  font-size: 1.6rem;
}

/*
remember all above font style should also have copy in @media neneath
*/

.colorWhite {
  color: #FFFFFF;
}

.colorLightGrey {
  color: #b8b8b8;
}

.colorGrey {
  color: #a3a3a3;
}

.colorEditBlack {
  color: #545454;
}

.colorEditLightBlack {
  color: #757575;
}

.colorDescripBlack {
  color: #444444;
}

.colorNoticeBlack {
  color: #545454;
}

.colorOptionsBlack {
  color: #333333;
}

.colorWhiteGrey {
  color: #d8d8d8;
}

.colorStandard {
  color: #ff8168;
}

.colorCoral {
  color: #ff8168;
}

.colorAssistGold {
  color: #f3b55a;
}

.weightBold {
  font-weight: bold;
}

@media screen and (max-width:430px) {
/*
all class from and only from above
*/
  .fontTitleHint {
    font-size: 2.1rem;
  }

  .fontTitle {
    font-size: 2.9rem;
  }

  .fontTitleNotice {
    font-size: 2.65rem;
  }

  .fontSubmit {
    font-size: 2.25rem;
  }

  .fontHint {
    font-size: 1.4rem;
  }

  .fontSubtitle {
    font-size: 1.5rem;
  }

  .fontGreet {
    font-size: 1.87rem;
  }

  .fontDescrip {
    font-size: 1.6rem;
  }

}
