.comBelongsbyType{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.boxBelong {
  display: inline-block;
  width: 48%;
  position: relative;
  margin: 8px 0 0;
}

.comBelong {
  display: flex;
  align-items: baseline;
}

.boxCategory {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 1.6rem;
}

.boxTitleType {
  display: inline-block;
}

.boxCornerTitle {

}

.boxCreate {

}

.boxNode {
  display: inline-flex;
  flex-direction: column;
}

.boxSearchModal {
  width: 420px;
  max-width: 90vw;
  height: 26rem;
  position: absolute;
  left: -2vw;
  top: 0;
  transform: translate(0 , -50%);
  box-sizing: border-box;
  padding: 2rem 3rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(84, 84, 84, 0.45);
  border-radius: 8px;
  z-index: 1;
}

.spanNode {
  display: inline-block;
  position: relative;
  margin: 2.25px 0; /* to mimic had line-height 1.5*/
  border-bottom: solid 0.75px transparent;
  cursor: pointer;
}

.spanNodeMouse {
  border-bottom: solid 0.75px #545454;
}

.spanType {

}

.spanEdit {
  cursor: pointer;
}

@media screen and (max-width:860px) {
  .comBelongsbyType{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 32px;
  }

  .boxTitle {
    width: 100%;
    margin: 8px 0;
    text-align: right;
  }

  .boxBelong {
    margin: 8px 0 0;
  }
}
