.boxNail {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgb(230, 230, 230);
  background-color: #FFFFFF;
  cursor: pointer;
}

/* beneath must after the main 'boxNail'*/

.boxSquare {
  width: 20vw;
  height: 25vw;
}

.boxFillHoriz {
  width: 99%;
  height: 5vw;
}
