.comAtNode {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.boxTopTitle {
  position: relative;
  margin: 6.3vh 0 2.5vh;
}

.boxNodeTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
}

.boxDecoBottom {
  height: 2.66vh;
  width: 80%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #FCFCFC;
}

@media screen and (max-width:860px) {

}
