.comAboutNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  white-space: nowrap;

}

.boxLink {
  display: inline-block;  
}

.boxNavLink {
  padding: 5px 10px;
  margin: 0 5px;
   cursor: default; 
}

.boxNavLinkMouse {
  background-color: rgb(216,216,216,0.15);
  cursor: pointer;
}

.linkNoMouse {
  border-bottom: solid 0.75px transparent;
}

.linkMouse {
  border-bottom: solid 0.75px #b8b8b8;
  cursor: pointer;
}


.fontNav {
  font-size: 1.37rem;
  letter-spacing: 0.05rem;
  color: #6e6e6e;
}

.smallDisplayBox {
  display: none;
}


@media screen and (max-width:860px) {
  .smallDisplayBox {
    display: block;
  }

  .smallDisplayNone {
    display: none;
  }
}
