.comSupply {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.boxOptions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.boxSubTitle {

}

.boxNode {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.boxNodeLink {
  align-items: center;
}

.boxNodeSubmit {

}

.boxNodeName {
  display: inline-block;
}
