.comNav {

}

.linkBlock {
  display: block;
}

.linkSetlink {
  display: inline-flex;
  align-items: center;
}

.boxRowInfo {
  display: flex;
  flex-direction: column;
}

.boxRowFilterMargin {
  margin: 20px 0 0;
}

.boxRowFilterNodeFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.boxProjectInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

.boxFilter {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.boxSvgArrow {
  width: 15px;
  height: 15px;
  padding: 5px 0 0 5px;
  cursor: pointer;
}

.boxSvgArrowStick {
  width: 15px;
  height: 15px;
  padding: 5px 0 0 5px;
  cursor: pointer;
}

.boxSvgNetGlobe {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 5px;
}

.boxIconsFilter {
  display: block; /* mimic a <div> */
  height: 20px;
}

.boxIconFilterNode {
  display: inline-block;
  width: 28px;
  height: 20px;
  box-sizing: border-box;
  text-align: right;
  cursor: pointer;
}

.spanFilterCross {
  display: inline-block;
  margin-right: 15px;
}

.spanLinkNode {
  display: inline-block;
  border-bottom: solid 1px transparent;
}

.spanLinkNodeMouse {
  border-bottom: solid 1px #545454;
}

.spanLinkSetlink {
  display: inline-block;
  width: 196px;
  border-bottom: solid 1px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.spanLinkSetlinkMouse {
  border-bottom: solid 1px #444444;
}
