.comSeeUser {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding-top: 5.07vh;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxFeed {

}

.boxRowNav {
  margin: 7.614vh 0 20px;
  padding-bottom: 2.538vh;
  border-bottom: 1px solid #d8d8d8;
}

.boxFooter {
  position: relative;
  padding-top: 2rem;
  margin-bottom: 36vh;
}

.boxNavTop {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 1.4vh 0 0;
}

.boxNodesFilter {
  box-shadow: 5px 0 4px -5px rgba(0, 0, 0, 0.3), -5px 0 4px -5px rgba(0, 0, 0, 0.3);
  margin: 0;
}

@media screen and (max-width:860px) {
  .smallDisplayBox {
    display: block;
  }

  .smallDisplayNone {
    display: none;
  }

  .boxFooter {
    margin-bottom: 14vh;
  }
}
