.comSeeUser {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding-top: 5.07vh;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

@media screen and (max-width:860px) {

}
