.comSignResend{
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 3; /* set as a 'base': on the contrast to the 'Modal'*/
}

.boxFooter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-between;
  width: 100%;
  position: sticky;
  box-sizing: border-box;
}

.boxServiceLink {
  position: relative;
  margin-bottom: 2.66vh;
}

.boxLogo {
  width: 73%;
  max-width: 27vw;
  min-width: 9vw;
  box-sizing: border-box;
  margin-bottom: 2.66vh;
  mix-blend-mode: darken;
  text-align: center;
  cursor: pointer;
}

.boxRightsClaim {
  text-align: right;
}
