.boxTitle {
  margin: 8px 0;
}

.comTitleUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxSubtitle {
  display: flex;
}

.boxSubtitleLeft {
  margin-right: 4px;
}

.boxSubtitleRight {
  margin-left: 4px;
}

.boxSubtitleCenter {
  display: flex;
  align-items: center;
  margin: 0 2px;
}

.boxLinkExpand {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 5px;
}

.spanBaseNode {
  display: inline-block;
  border-bottom: solid 0.75px transparent;
}

.spanBaseNodeMouse {
  border-bottom: solid 0.75px #545454;
}

.linkTitleText {
  display: inline-block;
}

.spanKey {
  margin-right: 4px;
}
