.boxTitle {
  margin: 8px 0;
}

.comTitleUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxSubtitle {
  display: flex;
}

.boxSubtitleLeft {
  margin-right: 4px;
}

.boxSubtitleRight {
  margin-left: 4px;
}

.boxSubtitleCenter {
  display: flex;
  align-items: center;
  margin: 0 2px;
}

.linkTitleText {
  display: inline-block;
}

.boxBtnShare {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.boxIconCopy {
  width: 22px;
  height: 18px;
}

.boxModalEmit {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translate(-50%, 0);
}

.boxHiddenText {
  position: absolute;
  left: 200%;
}

.spanKey {
  margin-right: 4px;
}
