.boxTitle {
  margin: 8px 0;
}

.comTitleUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0 8px;
}

.boxSubtitleRow {
  display: flex;
}

.boxSubtitleLeft {
  margin-right: 4px;
}

.boxSubtitleRight {
  margin-left: 4px;
}

.boxSubtitleCenter {
  display: flex;
  align-items: center;
  margin: 0 2px;
}

.boxLinkExpand {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 5px;
}

.boxDecoLine {
  width: 100%;
  box-sizing: border-box;
  padding-top: 16px;
  border-bottom: 1.5px solid #f3b55a;
}

.spanBaseNode {
  display: inline-block;
  border-bottom: solid 0.75px transparent;
}

.spanBaseNodeMouse {
  border-bottom: solid 0.75px #545454;
}

.linkTitleText {
  display: inline-block;
  position: relative;
}

.boxTitlePersonal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.spanKey {
  margin-right: 4px;
}

@media screen and (max-width:860px) {
  .boxTitlePersonal {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .smallLineExpand { /* used to mimic line height as .boxLinkExpand*/
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  .spanBaseNode {
    border-bottom: solid 0.75px #545454;
  }
}
