.boxUnitFrame {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.boxUnitSignFrame {
  width: 100%;
  position: relative;
}

.boxUnitContent {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:860px) {
  .boxUnitFrame {
    height: unset;
    padding: 6.7vh 0 0; /* top from NavOptions in small screen */
  }

  .boxUnitContent {
    height: unset;
  }
}
