.frame {
  width: 100%;
  height: 100%;
}

.frameOnMouse {
  outline: double 1.5px #777777;
}

.boxImg {
  width: 100%;
  height: 63%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

.boxMask {
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left: 0;
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.57),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.21),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.1) ,rgba(0, 0, 0, 0.05) ,transparent);
}

.interMask { /*remember must after the boxMask*/
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.1)
}

.boxNodes {
  display: flex;
  flex-direction: column;
  max-width: 83%;
  max-height: 80%;
  position: absolute;
  bottom: 8%;
  right: 0%;
  box-sizing: border-box;
  padding: 0 6.5% 0 6%; /*right side align along with the right position of boxAuthor*/
  border-left: 0.75px solid #FAFAFA; /*same as the border of NodesDisplay used by Unit*/
  overflow: hidden;
}

.boxNodesItem {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
}

.boxMarkPreview {
  width: 88%;
  max-height: 21.2%;
  position: absolute;
  box-sizing: border-box;
  bottom: 2%;
  left:5.5%;
  overflow: hidden;
}

.boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.boxAuthor {
  position: absolute;
  box-sizing: border-box;
  right: 5.5%; /*align along with the padding of boxNodes*/
  top: 67%;
}

.spanAuthor {
  display: inline-block;
  white-space: nowrap;
}

.fontNode {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
}

.fontAuthor {
  font-size: 1.27rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  text-align: right;
  color: #6e6e6e;
}

.fontMark {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
  color: #000000;
}
