.comDemand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 9rem;
}

.boxOptions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.boxTitle {

}

.boxNode {
  position: relative;
}

.boxNodeName {
  display: inline-block;
  cursor: pointer;
}

.boxNodeSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0,0, 0.7);
  cursor: pointer;
}
