.comDemand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.boxOptions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.boxTitle {

}

.boxNode {
  display: flex;
  flex-direction: column;
}

.boxNodeName {
  display: inline-block;
}

.boxNodeSubmit {

}
