.comPathProject {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding-top: 4.09vh;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxFeed {
  border-top: 1px solid #d8d8d8;
  padding-top: 22px;
}

.boxTitle {
  margin: 8px 0;
}

.boxDecoBottom {
  height: 2.66vh;
  width: 80%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #FCFCFC;
}

@media screen and (max-width:860px) {
  .smallDisplayBox {
    display: block;
  }

  .smallDisplayNone {
    display: none;
  }

}
