.comPathProject {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding-top: 5.07vh;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxTitle {
  margin: 8px 0;
}

.boxNavTop {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 1.4vh 0 0;
}

.boxFeed {

}

.boxRowNav {
  display: flex;
  flex-direction: column;
  margin: 12px 0 0;
}

.boxSignup {
  display: flex;
  align-items: center;
  width: 100%;
  height: 210px;
  min-height: 24vh;
  box-sizing: border-box;
  padding: 27px 1.38vw 20px;
  border-radius: 4px;
  background-color: rgba(255, 129, 104, 0.1);
}

.rowFilterMargin {
  margin: 8px 0 0;
}

.rowFilterPadding {
  padding-bottom: 2.538vh;
  border-bottom: 1px solid #d8d8d8;
}

.boxFooter {
  position: relative;
  padding-top: 2rem;
  margin-bottom: 36vh;
}

.boxNodesFilter {
  box-shadow: 5px 0 4px -5px rgba(0, 0, 0, 0.3), -5px 0 4px -5px rgba(0, 0, 0, 0.3);
  margin: 0;
}

@media screen and (max-width:860px) {
  .smallDisplayBox {
    display: block;
  }

  .smallDisplayNone {
    display: none;
  }

  .boxFooter {
    margin-bottom: 14vh;
  }
}
