.comPathProject {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding-top: 5.07vh;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxTitle {
  margin: 8px 0;
}

.boxFeed {

}

.boxRowNav {
  margin: 5.07vh 0 10px;
  padding-bottom: 2.538vh;
  border-bottom: 1px solid #d8d8d8;
}

.boxDecoBottom {
  height: 2.66vh;
  width: 80%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #FCFCFC;
}

.boxFooter {
  position: relative;
  padding-top: 2rem;
  margin-bottom: 42vh;
}

@media screen and (max-width:860px) {
  .smallDisplayBox {
    display: block;
  }

  .smallDisplayNone {
    display: none;
  }

}
