.comNavOption {

}

.boxNavOptionsSmall {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2.88vw;
}

.boxNavSmall {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.selfCom_NavOptions_svg_ {
  position: relative;
  cursor: pointer;
}

.selfCom_NavOptions_ToolBox_ {
  min-width: 180px;
  max-width: 80vw;
  position: absolute;
  top: 120%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(84, 84, 84, 0.45);
  background-color: #FFFFFF;
  cursor: default; /* block the 'pointer' setting inherit from parent*/
}

.boxToolBoxExplore {
  top: unset;
  bottom: 126%;
  left: -9%;
}

.boxOlist {
  padding: 0 0 0.5rem 1rem;
  margin: 0 0 2rem;
  border-bottom: solid 1px #d8d8d8;
  list-style: none;
}

.boxLiItem {
  margin-bottom: 1rem;
  cursor: pointer;
}

.boxLogout {
  padding-left: 1rem;
}

.boxLogo {
  width: 60px;
  position: absolute;
  transform: translate(0, -14px);
  box-sizing: border-box;
  cursor: pointer;
}

.boxBackBtn {
  display: flex;
  align-items: baseline;
  position: relative;
  padding: 0 8px 0 0;
}

.boxSvgArrow {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}

.boxLinkSwitchMouseOn {
  width: 100%;
  height: 28px;
  position: absolute;
  top: 47%;
  transform: translate(0, -50%);
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #d8d8d8;
}

.spanBtnText {
  display: inline-block;
  position: relative;
}

@media screen and (max-width:860px) {
  .comNavOption {
    width: 100%;
  }

  .selfCom_NavOptions_ToolBox_{
    top: 136%;
    left: unset;
    right: 0;
  }

  .boxToolBoxExplore { /* back to selfCom_NavOptions_ToolBox_ */
    top: 136%;
    bottom: unset;
    left: unset;
  }
}
