.comBelongByType {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.boxTitleType {
  display: inline-block;
  cursor: pointer;
}

.boxCornerTitle {
  width: 100%;
}

.boxCreate {

}

.boxStatics {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxNode {
  align-items: center;
  display: inline-block;
}

.boxCount {

}

.spanNode {
  display: inline-block;
  position: relative;
}

.spanType {
  margin: 0 0.4rem;
}

.fontCount {
  font-size: 1.76rem;
  letter-spacing: 0.04rem;
  color: rgb(64, 133, 160);
}

.fontOnEdit {
  color: #000000;
}
