.comBelongsbyType{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.boxBelong {
  display: inline-block;
  position: relative;
  margin: 0 0 8px 2.76vw;
}

.comBelong {
  display: flex;
  flex-direction: column;
}

.boxCategory {
  display: flex;
  width: 100%;
}

.boxTitle {
  margin: 0 0 8px 2.76vw;
}

.boxTitleType {
  display: inline-block;
}

.boxCornerTitle {

}

.boxCreate {

}

.boxNode {
  align-items: center;
  display: inline-block;
}

.boxSearchModal {
  width: 420px;
  max-width: 90vw;
  height: 26rem;
  position: absolute;
  left: -2vw;
  top: 0;
  transform: translate(0 , -50%);
  box-sizing: border-box;
  padding: 2rem 1.38vw;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(84, 84, 84, 0.45);
  border-radius: 8px;
  z-index: 1;
}

.spanNode {
  display: inline-block;
  position: relative;
}

.spanType {

}

.spanEdit {
  border-left: solid 1px #d8d8d8;
  margin-left: 3px;
  padding-left: 3px;
  cursor: pointer;
}
