.boxBelong {
  display: inline-block;
  position: relative;
}

.comBelong {
  display: flex;;
  flex-direction: column;
  align-items: flex-start;
}

.boxCategory {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxTitleType {
  display: inline-block;
}

.boxCornerTitle {

}

.boxCreate {

}

.boxNode {
  align-items: center;
  display: inline-block;
}

.spanNode {
  display: inline-block;
  position: relative;
}

.spanType {

}

.spanEdit {
  border-left: solid 1px #d8d8d8;
  padding-left: 3px;
  cursor: pointer;
}

.fontOnEdit {
  color: #545454;
}
