.boxRoundButton{
  box-sizing: border-box;
  padding: 11px 6%;
  border-radius: 1.87vh;
  background-color: #09a8e6;
  text-align: center;
  cursor: pointer;
}

.spanButton {

}

.fontButton {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.067rem;
  color: #FAFAFA;
}

.fontMessage {
  font-size: 2rem;
  line-height: 3rem;
  color: black;
}
