.wrapperMatchSet {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 4rem;
}

.boxSideControl {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.boxActSideontrol {
  background-color: rgba(230, 230, 230, 0.55);
}

.boxRowList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.boxSubTitle {
  position: absolute;
  bottom: 0;
  right: 4rem;
}

.boxWilling {
  width: 100%;
  align-self: baseline;
}

.boxNode {
  text-align: center;
}

.boxNodeType {
  text-align: center;
  cursor: default;
}

.boxNodeLink {
  display: inline-block;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
}

.boxNodeSubmit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.boxNodeName{
  display: inline-block;
}

.boxNodeWilling {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.boxNodeWished {
  display: flex;
  position: relative;
  width: 33%;
}

.boxSubmitWishDel {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 1.3rem;
  cursor: pointer;
}

.boxColWishedNode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.boxWishedStatus {
  width: 27%;
  margin-left: 6%;
}

.boxSettingModal {
  width: 40vw;
  min-height: 14.7rem;
  position: absolute;
  left: -10vw;
  top: -2rem;
  background-color: #FcFCFC;
  box-shadow: 2px 2px 6px -2px;
  border-radius: 0.45rem;
  z-index: 1;
}

.boxTypeSetting {
  display: inline-block;
  position: absolute;
  left: 25%;
  top: 1rem;
  transform: translate(-50%, 0);
}

.spanNodeType { /*span usaully wrap by boxNodeType*/

}

.spanType { /*type-text using in SettingModal*/
  margin: 0 0.4rem;
}

.fontOnType {
  color: #ff7a5f;
  cursor: pointer;
}
