.viewRelated {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.boxBack {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  height: 5%;
  position: fixed;
  top: 2%;
  right: 2.1%;
  font-size: 1rem;
  color: #cccccc;
  cursor:pointer;
}

.boxSubtitle {
  height: 39vh;
  box-sizing: border-box;
  text-align: center;
}

.spanBack {
  box-sizing: border-box;
}

.boxRelated {
  width: 68%;
  min-width: 790px;
  position: absolute;
  left: 51%;
  transform: translate(-49%,0);
  box-sizing: border-box;
}

.spanRelatedClose {
  display: inline-block;
  margin: 0 0.54rem;
  font-size: 1.32rem;
  font-weight: 700;
  font-style: normal;
  line-height: 3rem;
  color: #4085a0;
  cursor: pointer;
}
