.boxBack {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  height: 5%;
  position: absolute;
  top: 2%;
  right: 1.4%;
  font-size: 1.23rem;
  font-weight: 500;
  color: #FFFFFF;
  cursor:pointer;
}

.boxSubtitle {
  height: '';
  box-sizing: border-box;
  margin: 2rem 0;
  text-align: center;
}

.spanBack {
  box-sizing: border-box;
}
