.comCusSelected {
  width: 100%;
  position: relative;
}

.boxTitleRow {

}

.boxTitleWrap {
  display: inline-block;
  text-align: left;
}

.spanTitle {
  display: block;
}

.boxUnits {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
