{
  "envBasic": {
    "port": "8080"
  },
  "envDbConnection": {
    "host":"localhost",
    "user":"root",
    "password":"rootPassword",
    "database":"cornerth_test",
    "port": "3306"
  },
  "envJwtSecret": {
    "userToken":"SecretKeyForUserAuth",
    "userRefresh": "SecretKeyForAuthRefresh",
    "emailVerifiedToken":"SecretKeyForEmailVerify"
  },
  "envServiceGeneral": {
    "appDomain": "localhost:8080"
  },
  "envServiceSmtp": {
    "user": "smtpAccountIfneeded",
    "password": "smtpAccountPassword"
  },
  "envAppRootPath": "/home/to/your/app/",
  "envImgPath": {
    "FirsttoSrc": "/../../faked/pics/",
    "SecondtoSrc": "/../../../faked/pics"
  },
  "envLogPath": {
    "fromConfig": "./faked/logs/"
  },
  "envJSONUnitReachPath": "pathToUnitReachRecords",
  "envSeedPath": "./faked/dbSeeds/"
}
