{
  "envDbConnection": {
    "host":"dbHost",
    "user":"dbUserName",
    "password":"dbUserPassword",
    "database":"dbName",
    "port": "dbPort"
  },
  "envJwtSecret": {
    "userToken":"Secret",
    "emailVerifiedToken":"Secret"
  },
  "envServiceGeneral": {
    "appDomain": "domainName"
  },
  "envServiceSmtp": {
    "user": "smtpAccountUser",
    "password": "smtpAccountPassword"
  },
  "envImgPath": {
    "FirsttoSrc": "imgPath",
    "SecondtoSrc": "imgPath"
  },
  "envLogPath": {
    "fromConfig": "logPath"
  }
}
