{
  "envBasic": {
    "port": "8080"
  },
  "envDbConnection": {
    "host":"localhost",
    "user":"root",
    "password":"rootPassword",
    "database":"cornerth_test",
    "port": "3306"
  },
  "envLogPath": {
    "fromConfig": "./faked/logs/"
  },
}
