.boxTitle {
  margin: 8px 0;
}

.comNavFeed {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
}

.boxLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxDecoLine {
  box-sizing: border-box;
  height: 10px;
  position: relative;
  margin: 16px;
}

.spanLinkMouse {
  border-bottom: solid 0.75px #545454;
  cursor: pointer;
}

@media screen and (max-width:860px) {

}
