.boxTitle {
  margin: 8px 0;
}

.comNavFeed {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
}

.spanLinkMouse {
  border-bottom: solid 0.75px #545454;
  cursor: pointer;
}

@media screen and (max-width:860px) {

}
