.comOnBoardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.comGuideNails {
  display: flex;
  flex-direction: column;
}

.boxRelativeRow {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.boxFlexColumn {
  display: flex;
  flex-direction: column;
}

.rowForm {
  display: flex;
  justify-content: center;
  margin-bottom: 8.87vh;
}

.rowButton {
  display: flex;
  justify-content: center;
}

.boxFormSubTitle {
  align-items: center;
  margin-bottom: 2.19vh;
}

.boxFormTitle {
  align-items: center;
  margin-bottom: 5.48vh;
}

.boxFormBelongs {
  width: 100%;
}

.boxFormBelongsRow {
  display: flex;
  align-items: center;
  height: 44px;
}

.spanFormBelongsType {
  display: inline-block;
  width: 80px;
  margin-right: 42px;
}

.spanFormBelongsDescrip {
  display: inline-block;
  margin-right: 20px;
}

.boxFormBelongSet {
  display: inline-block;
  width: 290px;
  overflow: visible;
}

.boxForm {
  align-items: center;
  width: 556px;
  max-width: 83vw;
  position: relative;
  box-sizing: border-box;
}

.boxButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 6rem;
  max-width: 72vw;
  position: relative;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: #ff8168;
  cursor: pointer;
}

.boxButtonBlocked {
  background-color: #d8d8d8;
  cursor: default;
}

.comBelongSet {

}

.belongSetBoxNode {
  display: flex;
  justify-content: space-around;
  min-width: 240px;
  max-width: 310px;
  overflow: visible;
}

.boxFullWide {
  width: 100%;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width:860px) {
  .boxModuleSmall {
    justify-content: center;
  }
}
