.comFocusBoardFeed {

}

.comFeedEmpty {
  width: 100%;
  padding-top: 6rem;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxTitle {
  margin: 8px 0;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxModuleItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.boxFocusNailSubtitle {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 2.76vw;
}

.boxSubtitleFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxFocusNailSubtitleUp {
  margin-bottom: 1rem;
  text-align: center;
}

.boxFocusNailSubtitleLow {
  text-align: center;
}

.boxDescript {
  width: 100%;
  text-align: center;
}

.boxEmptyDescript {
  width: 100%;
  text-align: center;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 4.4rem;
  margin-bottom: 35.6vh;
}

.boxFooterBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 78%;
  height: 249px;
  min-width: 274px;
  min-height: 31.6vh;
  padding: 0 0 32px;
}

.spanMessageFooterBtn {
  display: block;
  margin: 0 0 16px;
  text-align: center;
}

.spanFocusSubtitleConnect {
  display: inline-block;
  margin-left: 1rem;
}

.spanBaseNode {
  display: inline-block;
  border-bottom: solid 0.75px transparent;
}

.spanBaseNodeMouse {
  border-bottom: solid 0.75px #545454;
}

@media screen and (max-width:860px) {
  .comPathProjectFeed {
    flex-direction: column;
  }

  .boxRowModules {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxModuleSmall {
    justify-content: center;
    width: 100vw;
    max-width: 556px;
  }

  .boxModuleItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .boxFocusNailSubtitle {
    justify-content: flex-start;
    height: unset;
    margin: 12px 0 8px;
    padding-left: 5.26vw;
  }

  .boxSmallNoFlex {
    display: unset;
    align-items: unset;
  }

  .boxFocusNailSubtitleUp {
    margin-bottom: unset;
    text-align: unset;
  }

  .boxFocusNailSubtitleLow {
    display: none;
  }

  .spanFocusSubtitleConnect {
    display: none;
  }
}
