.comSearchModal {

}

.boxTypeSetting {
  display: inline-block;
  position: absolute;
  left: 25%;
  top: 1rem;
  transform: translate(-50%, 0);
}


.fontDescrip {
  font-size: 1.37rem;
  letter-spacing: 0.07rem;
  line-height: 2rem;
}
