.boxOptions {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.fontCosmicCorner {
  font-size: 1.37rem;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  color: #a8a8a8;
}
/*
mind the order here
because the css would overlap one by one,
start the fundemental first, and then the specific condition
*/

.specificNoneDis {
  display: none;
}

.boxAccount {
  display: block;
  max-width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%,0);
}

.boxFocus {
  display: block;
  position: absolute;
  right: 10vw;
  bottom: 0;
  transform: translate(50%,0);
}


.boxLogo {
  display: block;
  position: absolute;
  height: 12px;
  right: 186px;
  bottom: 0;
}
