doctype html
html
  head
    title Cornerth.
    meta(charSet="utf-8")
    meta(name="robots" content="nofollow")
    meta(name='title' content= title)
    meta(name='description' content= descrip)
    meta(property='og:description' content= descrip)
    meta(property='og:title' content= title)
    meta(property='og:url' content= ogurl)
    meta(property='og:image' content= ogimg)
    meta(property='og:type' content='article')
body
