.boxTitle {
  margin: 8px 0;
}

.comNavExploreMobile {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.spanLinkMouse {
  border-bottom: solid 0.75px #b8b8b8;
  cursor: pointer;
}

