.comBelongByType {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.boxNode {
  display: inline-block;
}

.boxSettingModal {
  width: 53%;
  height: 3rem;
  position: absolute;
  right: 1%;
  bottom: 0;
}

.spanNode {
  display: inline-block;
  position: relative;
}
