.comBelongByType {

}

.boxNode {
  display: inline-block;
  padding-right: 1.4rem;
}

.boxSettingModal {
  width: 53%;
  height: 3rem;
  position: absolute;
  right: 1%;
  bottom: 0;
}

.spanNode {
  display: inline-block;
  position: relative;
}
