.comBelongByType {

}

.boxNode {
  display: inline-block;
  padding-right: 1.4rem;
}

.boxSettingModal {
  width: 53%;
  height: 3rem;
  position: absolute;
  right: 1%;
  bottom: 0;
}

.boxDialog { /*refer to similar part in BelongOptions*/
  width: 467px;
  position: absolute;
  top: 39%;
  left: 52%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  box-shadow: 1px 1px 0.56rem 0;
  border-radius: 1rem;
  background-color: white;
}

.spanNode {
  display: inline-block;
  position: relative;
}
