.comMainBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.rowBroads {

}

.boxRowTitle {
  width: 100%;
  box-sizing: border-box;
}

.boxUnits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; /*controled by parent*/
  position: relative;
  box-sizing: border-box;
  margin-bottom: 7.5vw;
}

.boxTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin: 7.5vw 0 5vw;
}

.boxUnitsJustifyAround {
  justify-content: space-around;
}

.boxRowFirst {
  display: flex;
  justify-content: space-between;
  width: 100%; /*let it controled by parent*/
  position: relative;
  box-sizing: border-box;
  margin: 7.5vw 0;
}

.boxRowBelong {
  align-self: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 5vw 0 10vw;
}

.boxRowTodayNode {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 5vw 0 10vw;
}

.boxRowBroads {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 5vw 0 10vw;

}

.boxTitleFirst {
  width: 20vw;
  height: 30vw; /*follow current heightNine*/
  position: relative;
}

.comTodayNode {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxTodayNails {

}

.boxWikiIntro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boxIntroHead {
  width: 100%;
  min-height: 7.5vw;
  position: relative;
  margin-bottom: 1rem;
}

.boxWikiTitle {
  display: inline-flex;
  flex-direction: column;
  max-width: 60%;
}

.pWikiIntro {
  width: 35vw;
  box-sizing: border-box;
  margin: 0;  /*<p> has its default, so overlap it*/
}

.linkMore {

}

.linkWiki {
  float: right;
}

.spanTodayDescript {
   color: rgb(110, 110, 110); /* keep it related to fontType in BannerBelong*/
}

.spanTitle {

}

.spanTitleFirst {
  display: block;
  overflow: visible;
}

.fontTitle {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.fontTitleFirst {
  /*font-size: 3rem;*/
  font-family: 'gill-sans-nova', 'Noto Sans TC','Lato', sans-serif;
  /*letter-spacing: 0.2rem;*/
}

.fontDescript { /* keep it related to fontType in BannerBelong*/
  font-size: 1.37rem;
  letter-spacing: 0.07rem;
  line-height: 2rem;
}

.fontWikiIntro {
  font-size: 1.45rem;
  line-height: 1.84rem;
}

.fontLink {
  font-size: 1.3rem;
}
