.boxSideLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 28%;
  height: 79%;
  position: absolute;
  bottom: 13%;
  right: 70%;
  box-sizing: border-box;
}

.boxAuthor {
  max-width: 100%;
  text-align: right;
  padding-left: 1rem;
}

.boxNodes {
  display: flex;
  align-items: center;
  max-width: 80%;
  height: 40%;
  box-sizing: border-box;
  padding-left: 1rem;
  border-left: solid 1px #fafafa;
  overflow: hidden;

}

.boxSumBroad {
  width: 100%;
  padding-left: 1rem;

}

.comSum_Broad {

}

.comSum_boxList {

}

.comSum_boxListItem {

}

.comSum_boxDescript {

}

.comSum_fontExpand {

}

.comSum_fontListItem {
  color: #FAFAFA;
}

.comSum_fontDescript {
  font-size: 1.27rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: rgba(250, 250, 250, 0.7);
}

.comSum_on_ListItem {

}
