.boxOverlay {
  width: 100%;
  position: fixed;
  background-color: #FCFCFC;
}

.boxBottom {
  height: 79px;
  bottom: 0;
}

.boxTop {
  height: 47px;
  top: 0;
}

.boxMain {
  width: 100%;
  position: absolute;
  top: 47px;
  box-sizing: border-box;
}
