.boxFixedExplore {
  position: fixed;
  bottom: 14%;
  right: 4%;
  box-sizing: border-box;
}

.fontExplore {
  font-size: 1.38rem;
  letter-spacing: 0.11rem;
  white-space: nowrap;
  color: #333333;
}
