.boxFixedExplore {
  position: fixed;
  top: 34%;
  right: 5.4%;
  transform: translate(50%, 0);
  box-sizing: border-box;
}

.fontExplore {
  font-size: 1.3rem;
  letter-spacing: 0.11rem;
  white-space: nowrap;
  color: #353535;
}
