.boxAround {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.boxAroundContent {
  width: 100%;
}

.boxNavAround {
  width: 20vw;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  box-sizing: border-box;
  background-color: #fff8f7;
}

.boxNavOptions {
  width: 6.9vw;
  height: 9.6vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}


.boxSignDialog {
  max-width: 60%;
  max-height: 80vh;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
