.boxFixedExplore {
  position: fixed;
  top: 34%;
  right: 5vw;
  transform: translate(50%, 0);
  box-sizing: border-box;
}

.boxDialog {
  width: 467px;
  position: absolute;
  top: 39%;
  left: 52%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  box-shadow: 1px 2px 3px 0;
  border-radius: 1rem;
  background-color: white;
}

.fontExplore {
  font-size: 1.34rem;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  color: #353535;
}
