.comBelongsMap {
  display: flex;
  width: 100%;
}

.comNavBelongsMap {
  display: flex;
  flex-direction: column;
}

.comTabView {
  display: flex;
}

.comMapCorner {

}

.comBelongStatics {
  display: flex;;
  align-items: center;
  width: 100%;
}

.boxNavBelongsMap {
  width: 20%;
}

.boxStatics {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxCategory {
  margin: 0 2.5vw;
}

.boxCornerTitle {
  width: 40%;
}

.boxTitleType {
  display: inline-block;
}


.boxTabView {

}

.boxCornerTitle {
  margin-bottom: 1rem;
}

.boxNode {
  align-items: center;
  display: inline-block;
}

.boxStatics {

}

.spanNode {
  display: inline-block;
  position: relative;
}

.spanType {
  margin: 0 0.4rem;
}
