.comSigninForm {
  width: 100%;
}

.boxInput {
  width: 100%;
}

.boxSubmit {
  margin: 0 5%;
}

.spanTag {
  display: inline-block;
  margin: 1rem 0 0.5rem;
}

.spanSignUp {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #ababab;
}

.spanSignUpMouse {
  border-bottom: 1px solid #ff7a5f;
}

.fontTag {
  font-size: 1.37rem;
  letter-spacing: 0.07rem;
}

.fontInput {
  font-size: 1.37rem;
  letter-spacing: 0.07rem;
}

.fontMessage {
  font-size: 1.37rem;
  color: rgb(64, 133, 160);
}
