.comRowEntry {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.boxBelong {
  width: 62.5%; /*50/80vw*/
}

.boxStatic {
  display: flex;
  flex-direction: column;
  width: 31.25%; /* 25/80vw*/

}

.boxLogo {
  height: 4rem;
  margin-bottom: 6.4rem;
}

.boxBasic {
  margin-bottom: 2rem;
}

.boxGreet {
  margin-bottom: 2rem;
}

.spanGreet {
  white-space: nowrap;
}

.boxDate {
  display: inline-block;
}

.boxUnderline {
  width: 60%;
  position: absolute;
  top: 0;
  left: 6.25%;
}
