.comRowEntry {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5% 0 0;
}

.boxBasic {
  min-width: 13vw;
  position: absolute;
  top: 45%;
  left: 75%;
  box-sizing: border-box;
}

.boxBasicBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxGreet {
  margin-bottom: 10%;
}

.boxDate {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-right: 8%;
}

.boxUnderline {
  width: 60%;
  position: absolute;
  top: 0;
  left: 6.25%;
}

.spanGreet {
  white-space: nowrap;
}
