.Nails_Cosmic {
  display: inline-block;
  width: 21rem;
  position: relative;
  box-sizing: border-box;
  margin: 0 3.4rem 1.2rem 2.4rem;
  box-shadow: 0 1px 1px -0.1rem, 0rem -0.05rem 2px -0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #FFFFFF;
}
