.Nails_Basic {
  background-color: #FFFFFF;
}

.fontContent {
  font-size: 1.34rem;
  font-weight: 400;
  letter-spacing: 0.16rem;
  line-height: 1.8rem;
  color: #FAFAFA;
}

.fontNouns {
  font-size: 1.54rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  font-family: 'cwTeXMing';
  color: black;
}

.fontAccount {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #757575;
}
