.Nails_Basic {
  border-radius: 0.5rem;
  background-color: #FFFFFF;
}

.fontContent: {
  font-size: 1.45rem;
  font-weight: 400;
  letter-spacing: 0.18rem;
  color: black
}

.fontNouns: {
  font-size: 1.68rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-family: 'cwTeXMing';
  color: #FAFAFA
}

.fontAccount: {
  font-size: 1.42rem;
  font-weight: 400;
  letter-spacing: 0.14rem;
  color: #757575;
}
