.comVisitRegister {

}

.boxGuidingText {
  display: inline-flex;
  box-sizing: border-box;
  padding: 8px 10% 9px;
  border-radius: 4px;
  background-color: rgb(69, 135, 160);
  text-align: center;
}

.boxGuidingTextActiv {
  background-color: #ff8168;
  cursor: pointer;
}

.spanGuidingText {

}

.frameModalList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.boxSignedList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84%;
  height: 75vh;
  max-width: 640px;
  min-height: 400px;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 2vh;
  padding: 2.54vh 0;
  border-radius: 8px;
  background-color: #FCFCFC;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.rowListTitle {
  margin: 10px 0;
  text-align: center;
}

.boxRowListBack {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 100%;
  padding-bottom: 8px;
}

.boxListBack {
  width: 18px;
  height: 24px;
  float: right;
  cursor: pointer;
}

.widthList {
  width: 84%;
}

.boxSignBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.boxSignDescript {
  max-width: 356px;
  margin-bottom: 8px;
  text-align: center;
}

.boxFacebookBtn {
  margin-top: 8px;
}

.boxFacebookBtnOverlay {
  background-color: rgba(230,230,230,0.5);
  cursor: default;
}

.btnFacebookLogin {
  border: unset;
  border-radius: 4px;
  background-color: #1877f2;
  text-transform: unset;
  font-size: 1.6rem;
  letter-spacing: .25px;
  white-space: nowrap;
  /* beneath are default setting from module 'react-facebook-login' under medium-size*/
  padding: calc(.34435vw + 8.38843px) calc(.34435vw + 13.38843px);
  font-family: Helvetica,sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: background-color .3s,border-color .3s;

}

.boxSignedUsers {
  margin: 8px 0;
  overflow-y: auto;
}

.boxSignedUsersNail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boxItemSignedUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  min-width: 118px;
  margin: 0 0 20px;
  overflow: hidden;
}

.boxItemUserImg {
  width: 64px;
  height: 64px;
  margin: 0 0 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
  overflow: hidden;
}

.boxItemSignedHidden {
  position: absolute;
  left: 500%;
}

.boxSignedUsersEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 148px;
}

.boxDecoBorder {
  box-sizing: border-box;
  border-bottom: solid 1.5px #f3b55a;
  margin: 8px 0;
}

@media screen and (min-width:860px) {
  .comVisitRegister {

  }

  .boxGuidingText {
    padding-top: 8px;
  }
}

@media screen and (max-width:860px) {
  .comVisitRegister {
    box-shadow: 4px 0 4px -4px #d8d8d8;
  }

  .boxGuidingText {

  }

}
