.comExplore {
  display: flex;
  position: relative;
}

.boxExplore {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.boxSwitch {
  display: flex;
  align-items: flex-end;
}

.boxCategory {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.fontCategory {
  color: #a8a8a8;
}
