.comNavWithin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.boxLogo {
  width: 73%;
  height: 5.7%;
  box-sizing: border-box;
  margin-top: 3.8vh;
  mix-blend-mode: darken;
  cursor: pointer;
}

.boxFooter {
  position: relative;
  margin-bottom: 2.66vh;
}

.boxRightsClaim {
  margin-top: 3rem;
}
