.comWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.boxContentWidth {
  width: 90%;
}

.boxTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 4.44vh;
  margin-bottom: 2.54vh;
}

.boxFrame {
  height: 72%;
  box-sizing: border-box;
  margin-bottom: 2.54vh;
  border-radius: 4px;
  background-color: rgba(217, 232, 255, 0.15);
  overflow: hidden;
}

.boxBottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.boxBottomLeft{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.boxBottomUpper {
  margin-bottom: 1.9vh;
}

.boxBottomLower {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.boxLinkPrimerImg {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  margin-left: 1rem;
  border-radius: 4px;
}

.btnSubmit {
  width: 96px;
  height: 32px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: default;
}

.spanResponds {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}

.spanRespondsActiv {
  border-bottom: solid 0.75px #757575;
}

.comImgLayer {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
}
