.comNodesEditor{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.boxSubtitle {
  margin-bottom: 1.2rem;
}

.editorRow {
  width: 100%;
  position: relative;
}

.boxAssignNodes {

}

.comAssignNodes {

}

.boxListItem {
  list-style: none;
}

.chosenListItem {
  color: #ff7a5f;
}

.mouseListItem {
  cursor: pointer;
}
