.comNodesEditor{
  width: 100%;
  height: 100%;
  position: relative;
}

.editorRow {
  width: 100%;
  position: relative;
}

.boxAssignNodes {

}

.comAssignNodes {

}

.boxListItem {
  list-style: none;
}

.chosenListItem {
  color: #ff7a5f;
}

.mouseListItem {
  cursor: pointer;
}
