.comAssignNodes {
  position: relative;
}

.boxSubtitle {
  margin-bottom: 1rem;
}

.boxListItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 39px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1.2px #a3a3a3;
  padding: 2px 10px;
  margin-right: 1rem;
  cursor: default;
}

.chosenListItem {
  background-color: #757575;
  border: solid 1.2px transparent;
}

.boxListDelete {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
}

.mouseListDelete {
  background-color: #FFFFFF;
  cursor: pointer;
}

.mouseListItem {
  background-color: #ff8168;
  border: solid 1.2px transparent;
}

.spanListItem {

}

.mouseSpanItem {
  color: #FFFFFF;
}

.spanAddButton {
  display: inline-block;
  border-bottom: solid 0.75px transparent;
  cursor: pointer;
}

.spanAddButtonMouse {
  border-bottom: solid 0.75px #a3a3a3;
}
