.comBelongSet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.comBelongsbyType{

}

.comSetByTypes {

}

.boxListDeco {
  align-self: center;
  margin: 2rem -2rem 0;
  font-size: 3rem;
  color: rgb(110, 110, 110);
}

.boxDialog {
  width: 467px;
  position: absolute;
  top: 39%;
  left: 52%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  box-shadow: 1px 2px 3px 0;
  border-radius: 1rem;
  background-color: white;
}

.boxSearchModal {
  width: 40vw;
  min-height: 11.7rem;
  position: absolute;
  left: -2vw;
  top: -1rem;
  background-color: #FcFCFC;
  box-shadow: 2px 2px 6px -2px;
  border-radius: 0.45rem;
  z-index: 1;
}
