.comBelongSet {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.boxTitle {
  margin: 8px 0;
}

.boxNewlySet {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width:860px) {
  .boxNewlySet {
    flex-direction: column;
    align-items: unset;
  }
}
