.comNodeLink {
  flex-direction: column;
  flex-wrap: wrap;
}

.boxBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.boxNail {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 47px;
  box-shadow: 0 1px 1px -0.1rem, 0rem -0.05rem 2px -0.2rem;
  border-radius: 0.3rem;
}

/* beneath must after the main 'boxNail'*/

.boxRegular {
  width: 30.8%;
  min-width: 264px;
  height: 32vh;
  min-height: 15.7rem;
}
