.comWithinSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3.8vh 0 1.9vh;
}

.boxForm {
  display: flex;
  flex-direction: column;
  width: 335px;
  max-width: 98vw;
}

.boxNav {
  width: 100%;
  margin-bottom: 30px;
}

.boxTitle {
  width: 100%;
  margin-bottom: 30px;
}

.boxIntro {
  display: inline-flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  margin-top: 6rem;
}

.comInvitation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 400px;
  max-width: 98vw;
  padding-top: 11vh;
  margin-bottom: 7.6vh;
}

.comInvitation p {
  margin: 8px 0;
}
