.comNavSign {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 6px;
}

.boxLinkSelfAlign {
  display: inline-block;
  position: absolute;
  right: 6px;
  padding-left: 25px;
  border-left: solid 1px #d8d8d8;
}

.spanLinkSign {
  cursor: pointer;
}
