.boxTitle {
  margin: 8px 0;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxDescript {
  width: 100%;
  margin: 12px 0;
  text-align: center;
}

.boxEmptyDescript {
  width: 100%;
  margin: 8px 0 28px;
  text-align: center;
}

.boxEmptyColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.boxGatheringBase {
  margin-left: 1rem;
}

@media screen and (max-width:860px) {
  .boxModuleSmall {
    justify-content: center;
  }
}
