
.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxDescript {
  width: 100%;
  text-align: center;
}

@media screen and (max-width:860px) {
  .boxModuleSmall {
    justify-content: center;
  }
}
