.boxTop {
  width: 100%;
  position: relative;
  transform: translate(-10vw,0);
  box-sizing: border-box;
  margin: 0 0 5rem;
}

.boxBanner {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.boxScroll {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65vw;
  position: relative;
  box-sizing: border-box;
}

.boxNail {
  background-color: #FFFFFF;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}

.boxWide {
  width: 40vw;
  box-shadow: 0 1px 1px rgb(230, 230, 230);
}

.boxNarrow {
  width: 20vw;
  box-shadow: 0 1px 1px rgb(230, 230, 230);
}

.heightNine {
  height: 30vw;
}

.heightSix {
  height: 20vw;
}

.boxFillHoriz {
  width: 99%;
  height: 10vw;
}

.decoSeparationHorz {
  width: 100%;
  position: absolute;
  top: 50%;
  display: inline-block;
}
