.boxTop {
  width: 100%;
  height: 83px;
  position: relative;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

.boxNails {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: -1px 0 0;
}

.boxWide {
  width: 64.5%;
  /*boxNarrow is the standard, as about 1/3 width of parent,
  so wide is about 2/3 but modified a little for deco. line., which is 4% of parent*/
  position: relative;
}

.boxNarrow {
  width: 30.5%;
  position: relative;
}

.boxFlat {
  width: 48%;
  /*boxNarrow is the standard, as about 1/3 width of parent,
  so flat is about 1/2 but modified a little for deco. line., which is 4% of parent*/
  position: relative;
}

.boxTopDate {
  margin: 8px 20% 0 14%;
}

.heightFlat {
  height: 168px;
}

.heightNarrow {
  height: 317px;
}

.boxFillVertical {
  width: 4%; /*follow the remain space between Wide & Narrow, or Flats*/
  position: relative;
}

.boxFillHoriz {
  width: 99%;
  height: 42px;
  position: relative;
}

.decoSeparationVerti {
  height: 89%;
}

.decoSeparationHorz {
  width: 100%
}
