.boxTop {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 5rem;
}

.boxBanner {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.boxScroll {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: -1px 0 0;
}

.boxNail {
  position: relative;
  background-color: #FFFFFF;
  cursor: pointer;
}

.boxColumn {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.boxWide {
  width: 49%;
}

.boxNarrow {
  width: 31%;
}

.boxFlat {

}

.heightFlat {
  height: 161px;
}

.heightWide {
  height: 325px; /* a little larger than double of heightFlat*/
}

.heightNarrow {
  height: 334px;
}

.boxFillHoriz {
  width: 99%;
  height: 92px;
  position: relative;
}

.decoSeparationVerti {
  height: 89%;
}

.decoSeparationHorz {
  width: 100%
}
