.frame {
  width: 100%;
  height: 100%;
}

.frameOnMouse {
  outline: double 1.5px #777777;
}

.boxImg {
  width: 100%;
  height: 66.66%; /* 2/3 of height*/
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

.boxMask {
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.57),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.21),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.1) ,rgba(0, 0, 0, 0.05) ,transparent);
}

.interMask { /*remember must after the boxMask*/
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.1)
}

.boxNodes {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 69%; /* 75%(3/4) - 6%(bottom as below) */
  position: absolute;
  bottom: 6%;
  right: 0%;
  box-sizing: border-box;
  padding: 0 4.5% 0 7%; /*right side align along with the right position of boxAuthor*/
  border-left: 0.75px solid #FAFAFA; /*same as the border of NodesDisplay used by Unit*/
  overflow: hidden;
}

.boxNodesItem {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
}

.fontNode {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
}

.boxContent {
  width: 100%;
  height: 33.33%; /* 1/3 of height*/
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.boxAuthor {
  max-width: 12.5%;
  position: absolute;
  box-sizing: border-box;
  right: 12.5%;
  top: 50%;
  transform: translate(50%, -50%);
}

.spanAuthor {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  right: 0;
  bottom: 0;
}

.fontAuthor {
  font-size: 1.3rem;
  font-weight: 400;
  color: #6e6e6e;
}

.boxMarkPreview {
  width: 75%;
  height: 50%;
  position: absolute;
  box-sizing: border-box;
  left: 0%;
  bottom: 25%;
  padding: 0% 6.25%;
  overflow: hidden;
}

.boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2.1rem;
}

.fontMark {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
  color: #000000;
}
