.comMainTitle {
  box-sizing: border-box;
}

.boxFlex {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 69%;
  left: 0;
  box-sizing: border-box;
}

.boxCreate {
  width: 10vw;
  height: 6vw;
  position: absolute;
  box-sizing: border-box;
  right: 9.375%;
  bottom: 11%;
}

.boxGreet {
  margin-bottom: 4%;
}

.boxDate {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-right: 5%;
}

.boxUnderline {
  width: 62.5%;
  position: absolute;
  left: 3.125%;
}

.fontGreet {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.064rem;
  line-height: 1rem;
}
