.comMainTitle {
  box-sizing: border-box;
}

.boxFlex {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 69%;
  left: 0;
  box-sizing: border-box;
}

.boxAction{
  width: 28%;
  min-width: 268px; /*Notice we set the width only upon the size of CreateShare*/
  position: absolute;
  box-sizing: border-box;
  bottom: 0%;
  left: 12.5%;
}

.boxCreate {
  width: 93%;
  height: 3.4rem;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
}

.boxGreet {
  margin-bottom: 4%;
}

.boxDate {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-right: 5%;
}

.boxUnderline {
  width: 62.5%;
  position: absolute;
  left: 3.125%;
}

.fontGreet {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.064rem;
  line-height: 1rem;
}
