.boxUnitLayerSwitch {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.boxSwitch {
  width: 100%;
  height: auto;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%,0);
}

.boxSwitchSvg {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.boxSpots {
  width: 100%;
  height: 144%;
  position: absolute;
  box-sizing: border-box;
  z-index: 0;
}

.boxSpotBin {
  width: 30%;
  height: 87%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  box-sizing: border-box;
}

.boxSpotSing {
  width: 100%;
  height: auto;
  position: absolute;
}

.boxSwitDn {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
