.frame {
  width: 100%;
  height: 100%;
}

.frameOnMouse {
  outline: double 1.5px #777777;
}

.boxImg {
  width: 100%;
  height: 60%;
  position: relative;
  top: 0;
  box-sizing: border-box;
}

.interMask { /*remember must after the boxMask*/
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.1)
}

.boxNodes {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 90%;
  position: absolute;
  top: 10%;
  left: 0%;
  box-sizing: border-box;
  padding: 0 4% 0 6%;
  overflow: hidden;
}

.boxNodesItem {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
}

.boxContent {
  width: 100%;
  height: 40%;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
}

.boxAuthor {
  max-width: 50%;
  position: absolute;
  box-sizing: border-box;
  right: 5.5%;
  bottom: 10%;
}

.spanAuthor {
  display: inline-block;
  position: relative;
  right: 0;
  bottom: 0;
}

.fontAuthor {
  color: #6e6e6e;
}

.boxMarkPreview {
  width: 60%;
  height: 60%;
  position: absolute;
  box-sizing: border-box;
  right: 0%;
  top: 10%;
  padding-left: 4%;
  margin-right: 4%;
  border-right: 1px solid #ff7a5f;
  overflow: hidden;
}

.boxMark {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1.5rem; /* follow the line height of mark*/
}

.fontMark {
  /*usually the font were controlled by class in common file of the belonged page.
  this is for local modified*/
  color: #000000;
}
