.boxColumn {
  width: 30vw;
  height: 100%;
  position: absolute;
  left: 25%;
}

.boxServiceLink {
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 5vh 0;
}

.spanSignIn {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #ababab;
}

.spanSignInMouse {
  border-bottom: 1px solid #ff7a5f;
}

.fontContent {
  font-size: 1.37rem;
  letter-spacing: 0.05rem;
}
