.boxProfile {
  width: 100%;
  position: relative;
  z-index: 3; /* set as a 'base': on the contrast to the 'Modal'*/
}

.boxNavAround {
  box-sizing: border-box;
  padding: 3.8vh 0.5vw 0;
}

.boxNavOptionsFrame {
  min-width: 10vw; /* follow boxContentFilledLeft*/
  height: 100%;
  position: fixed;
  z-index: 1; /* set here no matter the children set or not(like boxNavOptions) */
}

.boxNavOptions {
  min-width: 4.2vw;
  min-height: 7.6vh;
  position: fixed;
  top: 2vh;
  left: 2.7vw;
  box-sizing: border-box;
  z-index: 1;
}

.boxContent {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.boxContentCenter {
  min-width: 67vw;
}

.boxContentFilledRightSelf { /* after boxContentFilledRight */
  min-width: 20.5%;
}

.boxContentFilledLeftSelf { /* after boxContentFilledLeft */
  min-width: 11.38%;
}

@media screen and (min-width:1110px) {
  .boxNavAround {
    width: 20vw;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width:1110px) and (min-width: 860px) {
  .boxNavAround {
    width: 11vw;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: transparent;
  }

  .boxNavOptionsFrame {
    min-width: unset;
  }

  .boxContentCenter {
    width: calc(342px * 2 + 1.38vw * 4 + 1.38vw);
    min-width: 69.7vw; /*calc(32vw + 30.8vw + 1.38vw * 4 + 1.38vw)*/
  }

  .boxContentFilledRight {
    min-width: 11.5vw;
  }
}

@media screen and (max-width:860px) {
  .boxNavAround {
    width: 100%;
    position: sticky;
    background-color: #fff8f7;
    padding: 6.46vh 0.5vw 2.66vh;
  }

  .boxNavOptions {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: unset;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 2.53vh;
  }

  .boxNavOptionsFrame {    /* back to a plain <div> */
    min-width: unset; /* back to NavOptions */
    height: unset; /* back to NavOptions */
    position: static; /* back to NavOptions */
  }

  .boxContentFilledLeft {
    width: 0;
    min-width: 0; /* overlap basic setting, the 'width' is not enough for the min-width---which has higher priority*/
  }

  .boxContentFilledRight {
    width: 0;
    min-width: 0; /* overlap basic setting, the 'width' is not enough for the min-width---which has higher priority*/
  }

  .boxContentCenter {
    width: 94.24vw;
    max-width: 790px;
    min-width: unset;
    min-height: 87vh;
  }

  .boxDecoBottom {
    width: 90vw;
    height: 1px;
    position: unset;
    margin-left: 5vw;
  }
}
