.boxProfile {
  width: 100%;
  position: relative;
  z-index: 3; /* set as a 'base': on the contrast to the 'Modal'*/
}

.boxNavAround {
  width: 20vw;
  position: fixed;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 3.8vh 0.5vw 0;
}

.boxNavOptions {
  min-width: 4.2vw;
  min-height: 7.6vh;
  position: fixed;
  top: 2vh;
  left: 2.7vw;
  box-sizing: border-box;
  z-index: 1;
}

.boxNavProfile {
  width: 20vw;
  position: fixed;
  right: 0%;
  top: 0;
  padding-top: 2.8vh;
}

.boxContent {
  width: 60vw;
  margin-left: 15vw;
  margin-right: 25vw;
}

.boxContentCenter {
  width: 100%;
}

.boxDecoBottom {
  height: 2.66vh;
  width: 80%;
  position: fixed;
  bottom: 0;
  background-color: #a4a4a4
}


@media screen and (max-width:1110px) and (min-width: 860px) {
  .boxNavAround {
    width: 11vw;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    box-sizing: border-box;
    background-color: transparent;
  }
}

@media screen and (max-width:860px) {
  .boxNavAround {
    width: 100%;
    height: unset;
    position: sticky;
    bottom: unset;
    box-sizing: border-box;
  }

  .boxNavOptions {
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(117,117,117);
    box-shadow: 0 0 4px 0 rgba(84, 84, 84, 0.45);
  }

  .boxContent {
    width: 96vw;
    margin: 0 auto;
  }

  .boxNavProfile {
    display: none;
  }

  .boxDecoBottom {
    width: 90vw;
    height: 1px;
    position: unset;
    margin-left: 5vw;
  }
}
