.comSinCloseDialog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 17rem;
  box-sizing: border-box;
  padding: 3rem 3.7rem 4rem 3rem;
}

.boxMessage {

}

.boxButton {
  display: inline-block;
  width: 32%;
  float: right;
  margin:0 5%;
}

.boxfoot {
  margin: 5rem 0 0;
}

.spanMessage {

}
