.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxFullWide {
  width: 100%;
}

.boxBlankHint {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;
  text-align: center;
}

.spanSubtitle {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6%;
}

@media screen and (max-width:860px) {
  .boxModuleSmall {
    justify-content: center;
  }
}
