.comChain {
  display: flex;
  flex-direction: column;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxModuleShareds {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.boxSeperate {
  margin: 8px 0;
}

.boxFullWide {
  width: 100%;
}

.boxImg {
  width: 81px;
  height: 51px;
  min-width: 6.5vw;
  min-height: 4.1vw;
  position: relative;
  margin: 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(84, 84, 84, 0.45);
  cursor: pointer;
  overflow: hidden;
  opacity: 0.3;
}

.boxImgMouseOn {
  box-shadow: 0 0 0 0;
  overflow: visible;
  opacity: 1;
}
.mouseOnImg {
  width: 89.1px;
  height: 56.1px;
  min-width: 7.15vw;
  min-height: 4.51vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px 0 rgba(84, 84, 84, 0.45);
  opacity: 1;
}

.boxIndexShare {
  width: 12.5vw;
  min-width: 90px;
  position: fixed;
  top: 64.3vh;
  left: 2.7vw;
  z-index: 1;
}

@media screen and (max-width:860px) {
  .boxModuleSmall {
    justify-content: center;
  }

  .boxIndexShare {
    width: 100%;
    position: static;
    margin: 8px 0;
    z-index: unset;
    overflow: hidden;
  }

}
