.comChain{
  width: 100%;
  position: relative;
}

.boxModule{
  display: flex;
  justify-content: space-between;
}

.boxChainUpload {
  width: 15.625%;
  position: relative;
}

.comChainUpload {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.boxBlankHint {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;
  text-align: center;
}

.spanSubtitle {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6%;
}
