.boxMarkBlock {
  width: 36.6%;
  height: 97%;
  position: absolute;
  top: 2%;
  box-sizing: border-box;
  border-top: 3px solid #E0E0E0;
  border-bottom: 3px solid #E0E0E0;
  box-shadow: 0 0 2px 0;
  background-color: rgba(252, 252, 252, 0.9);
}

.boxMarkinBlock {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
