.boxMarkBlock {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: 0 0 2px 0;
  background-color: #fdfdfd;
}

.boxMarkinBlock {
  width: 100%;
  height: 75vh;
  position: absolute;
  overflow: hidden;
}
