.boxInput {
  margin-bottom: 1rem;
  padding: 0.3rem;
}

.boxRadioInput {
  margin: 0 5% 0.5rem;
}

.boxSubmit {
  margin: 1rem 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.boxSelect {
  display: inline-block;
  margin: 2rem 0.5rem;
}

.boxLogo: {
  display: inline-block;
  width: 10vw;
  min-height: 27px;
  position: relative;
}

.spanTag {
  display: inline-block;
  margin: 1rem 0 0.5rem;
}

.spanSignIn {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #ababab;
}

.spanSignInMouse {
  border-bottom: 1px solid #ff7a5f;
}


.fontTag {
  font-size: 1.37rem;
  letter-spacing: 0.05rem;
}

.fontInput {
  font-size: 1.37rem;
  letter-spacing: 0.05rem;
}

.fontMessage {
  font-size: 1.37rem;
  color: rgb(64, 133, 160);
}
