.comSignupForm {
  width: 100%;
}

.boxInput {
  position: relative;
  margin-bottom: 1rem;
}

.inputSign {
  width: 100%;
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  border: solid 1px #979797;
  border-radius: 5px;
}

.inputSignError {
  border: solid 1px #eb584e;
}

.inputSignGender {
  width: 2rem;
  height: 2rem;
  margin: 0;
  border: solid 1px #979797;
}

.boxInputMes {
  width: 100%;
  max-width: 25vw;
  position: absolute;
  right: 105.97%;
  top: 50%;
  transform: translate(0, -50%);
}

.boxWarning {
  width: 100%;
  text-align: right;
}

.boxSubmit {
  width: 100%;
  height: 45px;
  margin-top: 5rem;
  border-radius: 4px;
  background-color: #d8d8d8;
}

.boxSubmitAllow {
  background-color: #ff8168;
  cursor: pointer;
}

.boxAssist {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.boxAccount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.boxAccountSet {
  width: 48%;
}

.boxGender {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.boxGenderSet {
  display: flex;
  align-items: center;
}

.boxGenderOther {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.spanTag {
  display: block;
  margin-bottom: 8px;
}

.spanRadio {
  display: inline-block;
  margin-left: 1.6rem;
}

.spanGenderSelect {
  border: solid 1px #979797;
  border-radius: 5px;
  margin-left: 1.5rem;
}

.spanAssist {
  display: inline-block;
  border-bottom: 1px solid #FCFCFC;
  cursor: pointer;
}

.spanAssistOnMouse {
  border-bottom: 1px solid #545454;
}

@media screen and (max-width:860px) {
  .boxInputMes {
    max-width: unset;
    position: unset;
    right: unset;
    top: unset;
    transform: unset;
    margin-top: 1rem;
  }
}
