.boxBackTop {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  height: 5%;
  position: absolute;
  top: 2%;
  right: 2.1%;
  cursor:pointer;
}

.spanBackTop {
  box-sizing: border-box;
  font-size: 1rem;
  color: #6e6e6e;
}
