.comTheater {
  width: 93.2%;
  min-width: 900px;
  height: 99.2%;
  min-height: 320px;
  position: absolute;
  top: 0;
  left: 4.8%;
  box-sizing: border-box;
  background-color: rgba(11,11,11,0.98);
  overflow-y: scroll;
}

.boxBackTop {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  height: 5%;
  position: absolute;
  top: 2%;
  right: 2.1%;
  cursor:pointer;
}

.spanBackTop {
  box-sizing: border-box;
  font-size: 1rem;
  color: #6e6e6e;
}
