.comTheater {
  width: 1008px;
  height: 710px;
  min-width: 70%;
  max-width: 98vw;
  min-height: 90%;
  max-height: 95vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.boxBackTop {
  display:flex;
  justify-content: space-around;
  width: 2rem;
  position: absolute;
  top: 2%;
  right: 2.1%;
  cursor:pointer;
}

.spanBackTop {
  box-sizing: border-box;
  font-size: 1rem;
}
