.comMessageInput {
  width: 100%;
  text-align: right;
}

.boxSvgIcon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.spanText {
  display: inline-block;
  max-width: calc( 100% - 2rem - 2rem); /* 100% - Icon width - margin right*/
  margin-right: 2rem;
}
