.comMessageInput {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.boxSvgIcon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.spanText {
  display: inline-block;
  margin-right: 2rem;
}
