.boxList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.boxNail {
  width: 20vw;
  height: 25vw;
  position: relative;
  box-sizing: content-box;
  box-shadow: 0 1px 1px rgb(230, 230, 230);
  background-color: #FFFFFF;
  cursor: pointer;
}

.boxFillHoriz {
  width: 99%;
  height: 5vw;
}
