.comBelongForm {

}

.boxGreet {
  min-width: 62%;
  margin: 0 1% 0.4rem 4%;
  text-align: right;
}

.boxPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pDescrip {
  display: inline-block;
  margin: 0;
}

.spanReturn {
  float: right;
  cursor: pointer;
}

.fontReturn {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(174,174,174);
}

.fontDescripTitle {
  font-size: 1.6rem;
  font-weight: 700;
}

.fontTitleGreet {
  font-size: 1.76rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2.05rem;
  letter-spacing: 0.04rem;
}
