.boxRoundButton{
  box-sizing: border-box;
  padding: 11px 6%;
  border-radius: 1.87vh;
  background-color: #09a8e6;
  text-align: center;
  cursor: pointer;
}

.boxCornerButton {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(64, 133, 160);
  text-align: center;
  cursor: pointer;
}

.spanButton {

}

.fontButton {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.067rem;
  color: #FAFAFA;
}

.fontMessage {
  font-size: 1.72rem;
  line-height: 3rem;
  color: black;
}

.comCustomDialog {
  position: relative;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 0.5rem;
  border: 0.5px solid #a8a8a8;
  box-shadow: 0 2px 3px 1px;
}
