.comRelated {
  width: 65vw;
  box-sizing: border-box;
}

.boxTop {
  width: 100%;
  height: 51vh;
  min-height: 259px;
  box-sizing: border-box;
}

.boxList {
  width: 42.5vw; /* including only one interspace(which between the Nails) */
}

.footer {
  width: 100%;
  height: 91px;
}
