.comRelated {
  width: 100%;
  box-sizing: border-box;
}

.boxTop {
  width: 100%;
  height: 51vh;
  min-height: 259px;
  box-sizing: border-box;
  margin-top: 2vh;
}

.boxList {
  width: 100%;
  margin-top: 8vh;
}

.footer {
  width: 100%;
  height: 91px;
}
