.comRelated {

}

.boxTitle {
  margin: 8px 0;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxFooter {
  position: relative;
  padding-top: 2.4rem;
  margin-bottom: 31.1vh;
}

.btnSubmit {
  display: inline-block;
  width: 96px;
  height: 32px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: default;
}

.boxNail {
  box-sizing: border-box;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(84, 84, 84, 0.45);
  background-color: #FFFFFF;
  overflow: hidden;
}

.custNailWide {
  width: 100%;
}

.spanDescript {
  display: block;
  width: 100%;
  text-align: center;
}


@media screen and (max-width:860px) {
  .boxModuleSmall {
    justify-content: center;
  }
  .custNailWide {
    width: unset;
  }
}
